@model IList<Lotto.Models.Poll_Detail>
@using Lotto.Models
@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_User.cshtml";
}
@{
    var pollCount = 0;
    var receive = "รับแล้ว";
    var amount = 0;
    var total_amount = 0;
    var amount_receive = 0;
    var total_receive = 0;
    var discount = 0;
    var total_discount = 0;
    var reject_amount = 0;
    var win = 0;
    var totalwin = 0;
}

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <i class="mr-2 fa fa-files-o"></i>
                <strong class="card-title">ดูโพยทั้งหมด</strong>
            </div>
            <div class="card-body">
                <table id="bootstrap-data-table" class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>โพยใบที่</th>
                            <th>สถานะ</th>
                            <th>ยอดแทง</th>
                            <th>ยอดรับ</th>
                            <th>ยอดหัก%</th>
                            <th>ยอดถูก</th>
                            <th>วันที่ส่ง</th>
                            <th>วันที่รับ</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            pollCount += 1;
                            if (item.Receive == "1")
                            {
                                receive = "รับแล้ว";
                                amount = Int32.Parse(item.Amount);
                                amount_receive = Int32.Parse(item.Amount);
                                discount = Int32.Parse(item.Discount);
                                total_amount += amount;
                                total_receive += amount_receive;
                                total_discount += discount;
                                win = Int32.Parse(item.Win);
                                totalwin = totalwin + win;

                            }
                            else
                            {
                                receive = "คืนทั้งใบ";
                                amount = Int32.Parse(item.Amount);
                                total_amount += amount;
                                amount_receive = 0;
                                total_receive += amount_receive;
                                reject_amount += amount;
                                discount = 0;
                                win = 0;
                            }
                            <tr>
                                <td>@pollCount</td>
                                <td>@receive</td>
                                <td>@String.Format("{0:n0}", amount)</td>
                                <td>@String.Format("{0:n0}", amount_receive)</td>
                                <td>@String.Format("{0:n0}", discount)</td>
                                <td>@win</td>@*-------------------------- ตรวจเลขถูก  -----------------------------*@
                                <td>@item.create_date</td>
                                <td>@item.create_date</td>
                                <td><button type="button" class="btn btn-sm btn-primary showPoll" data-cBy="@item.Create_By" data-cDate="@item.create_date" data-toggle="modal" data-discount="@discount" data-areceiv="@amount_receive" data-amount="@amount" data-receive="@receive" data-pCount="@pollCount" data-id="@item.ID" data-target="#checkModal">ดูโพย</button></td>
                            </tr>
                        }
                    </tbody>
                    <tfoot>
                        <tr>
                            <th>รวม</th>
                            <th>@pollCount ใบ</th>
                            <th>@String.Format("{0:n0}", total_amount)</th>
                            <th>@String.Format("{0:n0}", total_receive)</th>
                            <th>@String.Format("{0:n0}", total_discount)</th>
                            <th>@totalwin</th>@*-------------------------- ตรวจเลขถูก  -----------------------------*@
                            <th>สรุป</th>
                            <th>@(total_discount - totalwin)</th>
                            <th><button type="button" class="btn btn-sm btn-success" data-toggle="modal" data-target="#totalBalance" data-backdrop="static">สรุปยอด</button></th>
                        </tr>
                    </tfoot>
                </table>
                <input type="hidden" id="totalPollcount" value="@pollCount" />
                <input type="hidden" id="total_amount" value="@total_amount" />
                <input type="hidden" id="total_receive" value="@total_receive" />
                <input type="hidden" id="total_discount" value="@total_discount" />
                <input type="hidden" id="reject" value="@reject_amount" />
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="checkModal" tabindex="-1" role="dialog" aria-labelledby="checkModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document" style="max-width:90%;">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="checkModalLabel">ตรวจเลข</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <h3>สรุปโพย</h3>
                    </div>
                    <div class="col-md-6 right">
                        <button type="button" class="btn btn-sm btn-secondary" id="printPDF">พิมพ์โพย</button>
                    </div>
                    <div class="col-md-12" id="printArea">
                        <hr />
                        <div class="col-md-12">
                            <form action="#" method="post" enctype="multipart/form-data" class="form-horizontal">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row form-group">
                                            <div class="col col-md-5"><label class="form-control-label">โพยใบที่</label></div>
                                            <div class="col-12 col-md-7"><div id="poll_number" class="form-control-label bold"></div></div>
                                        </div>
                                        <div class="row form-group">
                                            <div class="col col-md-5"><label class="form-control-label">สถานะ</label></div>
                                            <div class="col-12 col-md-7"><div id="receive_status" class="form-control-label bold"></div></div>
                                        </div>
                                        <div class="row form-group">
                                            <div class="col col-md-5"><label class="form-control-label">ยอดแทงใบนี้</label></div>
                                            <div class="col-12 col-md-7"><div id="amount" class="form-control-label bold"></div></div>
                                        </div>
                                        <div class="row form-group">
                                            <div class="col col-md-5"><label class="form-control-label">ยอดรับใบนี้</label></div>
                                            <div class="col-12 col-md-7"><div id="receive" class="form-control-label bold"></div></div>
                                        </div>
                                        <div class="row form-group">
                                            <div class="col col-md-5"><label class="form-control-label">ยอดหัก%ใบนี้</label></div>
                                            <div class="col-12 col-md-7"><div id="discount" class="form-control-label bold"></div></div>
                                        </div>
                                        <div class="row form-group">
                                            <div class="col col-md-5"><label class="form-control-label">วันที่แทง</label></div>
                                            <div class="col-12 col-md-7"><div id="poll_date" class="form-control-label bold"></div></div>
                                        </div>
                                        <div class="row form-group">
                                            <div class="col col-md-5"><label class="form-control-label">แทงโดย</label></div>
                                            <div class="col-12 col-md-7"><div id="poll_by" class="form-control-label bold"></div></div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row form-group">
                                            <div class="col col-md-5"><label class="form-control-label">วันที่รับ</label></div>
                                            <div class="col-12 col-md-7"><div id="receive_date" class="form-control-label bold"></div></div>
                                        </div>

                                        <div class="row form-group">
                                            <div class="col col-md-5"><label class="form-control-label">โพยหมายเลข</label></div>
                                            <div class="col-12 col-md-7"><div id="poll_id" class="form-control-label bold"></div></div>
                                        </div>
                                        <div class="row form-group">
                                            <div class="col col-md-5"><label class="form-control-label">จำนวนโพย</label></div>
                                            <div class="col-12 col-md-7"><div id="total_poll" class="form-control-label bold"></div></div>
                                        </div>
                                        <div class="row form-group">
                                            <div class="col col-md-5"><label class="form-control-label">รับแล้ว</label></div>
                                            <div class="col-12 col-md-7"><div id="receive_poll" class="form-control-label bold"></div></div>
                                        </div>
                                        <div class="row form-group">
                                            <div class="col col-md-5"><label class="form-control-label">ยอดคืนงวดนี้</label></div>
                                            <div class="col-12 col-md-7"><div id="r_amount" class="form-control-label bold"></div></div>
                                        </div>
                                        <div class="row form-group">
                                            <div class="col col-md-5"><label class="form-control-label">ยอดรับงวดนี้</label></div>
                                            <div class="col-12 col-md-7"><div id="receive_amount" class="form-control-label bold"></div></div>
                                        </div>
                                        <div class="row form-group">
                                            <div class="col col-md-5"><label class="form-control-label">ยอดหัก%งวดนี้</label></div>
                                            <div class="col-12 col-md-7"><div id="t_discount" class="form-control-label bold"></div></div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <hr />
                        <div class="col-md-12">
                            <div class="row" id="poll">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @*<div class="modal-footer">
                    <button type="button" class="btn btn-primary">ตรวจ</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">ยกเลิก</button>
                </div>*@
        </div>
    </div>
</div>
<div class="modal fade" id="totalBalance" tabindex="-1" role="dialog" aria-labelledby="totalBalanceLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="printBalanceArea">
                @*<br />
                <h4 class="center">ใบสรุปยอดเงิน งวดวันที่ </h4><hr />*@
                <table class="table table-bordered" style="text-align:center;">
                    <thead style="color:white;background-color:blue;">
                        <tr>
                            <th rowspan="2">ชนิด</th>
                            <th colspan="4">ยอดทั้งหมด</th>
                            @*<th colspan="3">แทงออก</th>
                                <th colspan="3">รับไว้</th>*@
                        </tr>
                        <tr>
                            <th>ยอดแทง</th>
                            <th>ยอดหัก %</th>
                            <th>ยอดถูก</th>
                            <th>สรุป</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            var up = 0;
                            var down = 0;
                            var fthree = 0;
                            var fthreeood = 0;
                            var threeup = 0;
                            var threeupood = 0;
                            var threedown = 0;
                            var twoup = 0;
                            var twodown = 0;
                            var twoood = 0;
                            var up_bet = 0;
                            var down_bet = 0;
                            var fthree_bet = 0;
                            var fthreeood_bet = 0;
                            var threeup_bet = 0;
                            var threeupood_bet = 0;
                            var threedown_bet = 0;
                            var twoup_bet = 0;
                            var twodown_bet = 0;
                            var twoood_bet = 0;

                            var wup = 0;
                            var wdown = 0;
                            var wfthree = 0;
                            var wfthreeood = 0;
                            var wthreeup = 0;
                            var wthreeupood = 0;
                            var wthreedown = 0;
                            var wtwoup = 0;
                            var wtwodown = 0;
                            var wtwoood = 0;

                            var tup = 0;
                            var tdown = 0;
                            var tfthree = 0;
                            var tfthreeood = 0;
                            var tthreeup = 0;
                            var tthreeupood = 0;
                            var tthreedown = 0;
                            var ttwoup = 0;
                            var ttwodown = 0;
                            var ttwoood = 0;

                            var totaldis = 0;
                            var toralwin = 0;
                            var total = 0;
                        }
                        @foreach (var item in (List<user_total>)ViewData["TAR"])
                        {
                            if (item.Type == "Up")
                            {
                                up = Int32.Parse(item.Amount_Discount);
                                wup = Int32.Parse(item.Amount_Win);
                                tup = up - wup;
                                totaldis = totaldis + Int32.Parse(item.Amount_Discount);
                                toralwin = toralwin + Int32.Parse(item.Amount_Win);
                                up_bet = Int32.Parse(item.Amount);
                                total = total + up_bet;
                            }
                            else if (item.Type == "Down")
                            {
                                down_bet = Int32.Parse(item.Amount);
                                total = total + down_bet;
                                down = Int32.Parse(item.Amount_Discount);
                                wdown = Int32.Parse(item.Amount_Win);
                                tdown = down - wdown;
                                totaldis = totaldis + Int32.Parse(item.Amount_Discount);
                                toralwin = toralwin + Int32.Parse(item.Amount_Win);
                            }
                            else if (item.Type == "FirstThree")
                            {
                                fthree_bet = Int32.Parse(item.Amount);
                                total = total + fthree_bet;
                                fthree = Int32.Parse(item.Amount_Discount);
                                wfthree = Int32.Parse(item.Amount_Win);
                                tfthree = fthree - wfthree;
                                totaldis = totaldis + Int32.Parse(item.Amount_Discount);
                                toralwin = toralwin + Int32.Parse(item.Amount_Win);
                            }
                            else if (item.Type == "FirstThreeOod")
                            {
                                fthreeood_bet = Int32.Parse(item.Amount);
                                total = total + fthreeood_bet;
                                fthreeood = Int32.Parse(item.Amount_Discount);
                                wfthreeood = Int32.Parse(item.Amount_Win);
                                tfthreeood = fthreeood - wfthreeood;
                                totaldis = totaldis + Int32.Parse(item.Amount_Discount);
                                toralwin = toralwin + Int32.Parse(item.Amount_Win);
                            }
                            else if (item.Type == "ThreeUp")
                            {
                                threeup_bet = Int32.Parse(item.Amount);
                                total = total + threeup_bet;
                                threeup = Int32.Parse(item.Amount_Discount);
                                wthreeup = Int32.Parse(item.Amount_Win);
                                tthreeup = threeup - wthreeup;
                                totaldis = totaldis + Int32.Parse(item.Amount_Discount);
                                toralwin = toralwin + Int32.Parse(item.Amount_Win);
                            }
                            else if (item.Type == "ThreeUPOod")
                            {
                                threeupood_bet = Int32.Parse(item.Amount);
                                total = total + threeupood_bet;
                                threeupood = Int32.Parse(item.Amount_Discount);
                                wthreeupood = Int32.Parse(item.Amount_Win);
                                tthreeupood = threeupood - wthreeupood;
                                totaldis = totaldis + Int32.Parse(item.Amount_Discount);
                                toralwin = toralwin + Int32.Parse(item.Amount_Win);
                            }
                            else if (item.Type == "ThreeDown")
                            {
                                threedown_bet = Int32.Parse(item.Amount);
                                total = total + threedown_bet;
                                threedown = Int32.Parse(item.Amount_Discount);
                                wthreedown = Int32.Parse(item.Amount_Win);
                                tthreedown = threedown - wthreedown;
                                totaldis = totaldis + Int32.Parse(item.Amount_Discount);
                                toralwin = toralwin + Int32.Parse(item.Amount_Win);
                            }
                            else if (item.Type == "TwoUp")
                            {
                                twoup_bet = Int32.Parse(item.Amount);
                                total = total + twoup_bet;
                                twoup = Int32.Parse(item.Amount_Discount);
                                wtwoup = Int32.Parse(item.Amount_Win);
                                ttwoup = twoup - wtwoup;
                                totaldis = totaldis + Int32.Parse(item.Amount_Discount);
                                toralwin = toralwin + Int32.Parse(item.Amount_Win);
                            }
                            else if (item.Type == "TwoDown")
                            {
                                twodown_bet = Int32.Parse(item.Amount);
                                total = total + twodown_bet;
                                twodown = Int32.Parse(item.Amount_Discount);
                                wtwodown = Int32.Parse(item.Amount_Win);
                                ttwodown = twodown - wtwodown;
                                totaldis = totaldis + Int32.Parse(item.Amount_Discount);
                                toralwin = toralwin + Int32.Parse(item.Amount_Win);
                            }
                            else if (item.Type == "TwoOod")
                            {
                                twoood_bet = Int32.Parse(item.Amount);
                                total = total + twoood_bet;
                                twoood = Int32.Parse(item.Amount_Discount);
                                wtwoood = Int32.Parse(item.Amount_Win);
                                ttwoood = twoood - wtwoood;
                                totaldis = totaldis + Int32.Parse(item.Amount_Discount);
                                toralwin = toralwin + Int32.Parse(item.Amount_Win);
                            }
                            else { }
                        }
                        <tr>
                            <td>วิ่ง บน</td>
                            <td>@String.Format("{0:n}", up_bet)</td>
                            <td id="udis">@String.Format("{0:n}", up)</td>
                            <td id="uwin">@String.Format("{0:n}", wup)</td>
                            <td id="utotal">@String.Format("{0:n}", tup)</td>
                        </tr>
                        <tr>
                            <td>วื่ง ล่าง</td>
                            <td>@String.Format("{0:n}", down_bet)</td>
                            <td id="ddis">@String.Format("{0:n}", down)</td>
                            <td id="dwin">@String.Format("{0:n}", wdown)</td>
                            <td id="dtotal">@String.Format("{0:n}", tdown)</td>
                        </tr>
                        <tr>
                            <td>3 หน้า</td>
                            <td>@String.Format("{0:n}", fthree_bet)</td>
                            <td id="f3dis">@String.Format("{0:n}", fthree)</td>
                            <td id="f3win">@String.Format("{0:n}", wfthree)</td>
                            <td id="f3total">@String.Format("{0:n}", tfthree)</td>
                        </tr>
                        <tr>
                            <td>3 หน้าโต๊ด</td>
                            <td>@String.Format("{0:n}", fthreeood_bet)</td>
                            <td id="f3odis">@String.Format("{0:n}", fthreeood)</td>
                            <td id="f3owin">@String.Format("{0:n}", wfthreeood)</td>
                            <td id="f3ototal">@String.Format("{0:n}", tfthreeood)</td>
                        </tr>
                        <tr>
                            <td>3 บน</td>
                            <td>@String.Format("{0:n}", threeup_bet)</td>
                            <td id="u3dis">@String.Format("{0:n}", threeup)</td>
                            <td id="u3win">@String.Format("{0:n}", wthreeup)</td>
                            <td id="u3total">@String.Format("{0:n}", tthreeup)</td>
                        </tr>
                        <tr>
                            <td>3 โต๊ด</td>
                            <td>@String.Format("{0:n}", threeupood_bet)</td>
                            <td id="u3odis">@String.Format("{0:n}", threeupood)</td>
                            <td id="u3owin">@String.Format("{0:n}", wthreeupood)</td>
                            <td id="u3ototal">@String.Format("{0:n}", tthreeupood)</td>
                        </tr>
                        <tr>
                            <td>3 ล่าง</td>
                            <td>@String.Format("{0:n}", threedown_bet)</td>
                            <td id="d3dis">@String.Format("{0:n}", threedown)</td>
                            <td id="d3win">@String.Format("{0:n}", wthreedown)</td>
                            <td id="d3total">@String.Format("{0:n}", tthreedown)</td>
                        </tr>
                        <tr>
                            <td>2 บน</td>
                            <td>@String.Format("{0:n}", twoup_bet)</td>
                            <td id="u2dis">@String.Format("{0:n}", twoup)</td>
                            <td id="u2win">@String.Format("{0:n}", wtwoup)</td>
                            <td id="u2total">@String.Format("{0:n}", ttwoup)</td>
                        </tr>
                        <tr>
                            <td>2 ล่าง</td>
                            <td>@String.Format("{0:n}", twodown_bet)</td>
                            <td id="d2dis">@String.Format("{0:n}", twodown)</td>
                            <td id="d2win">@String.Format("{0:n}", wtwodown)</td>
                            <td id="d2total">@String.Format("{0:n}", ttwodown)</td>
                        </tr>
                        <tr>
                            <td>2 โต๊ด</td>
                            <td>@String.Format("{0:n}", twoood_bet)</td>
                            <td id="o2dis">@String.Format("{0:n}", twoood)</td>
                            <td id="o2win">@String.Format("{0:n}", wtwoood)</td>
                            <td id="o2total">@String.Format("{0:n}", ttwoood)</td>
                        </tr>
                    </tbody>
                    <tfoot style="color:white;background-color:blue;">
                        <tr>
                            <td>รวม</td>
                            <td>@String.Format("{0:n}", total)</td>
                            <td id="tdis">@String.Format("{0:n}", totaldis)</td>
                            <td id="twin">@String.Format("{0:n}", toralwin)</td>
                            <td id="ttotal">@String.Format("{0:n}", (totaldis - toralwin))</td>
                        </tr>
                    </tfoot>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="printBalance">พิมพ์</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">ปิด</button>
            </div>
        </div>
    </div>
</div>
<script src="~/Assets/js/list.js"></script>
<script>
    getPoll = '@Url.Action("getPoll", "User")';
    (function ($) {
        $('#bootstrap-data-table').DataTable({
            lengthMenu: [[10, 20, 50, -1], [10, 20, 50, "All"]],
            fixedHeader: {
                footer: true
            }
        });

        $('#printPDF').click(function () {
            var printContents = document.getElementById('printArea').innerHTML;
            var originalContents = document.body.innerHTML;

            document.body.innerHTML = printContents;

            window.print();

            document.body.innerHTML = originalContents;
        });

    })(jQuery);
</script>

