@model IList<Lotto.Models.All_Number>
@{
    ViewBag.Title = "AllBet";
    Layout = "~/Views/Shared/_Admin.cshtml";
    var twoup = 0;
    var threeup = 0;
    var three_ = 0;
    var two_ = 0;
    var fthree = 0;
    var fthree_ = 0;
    var up = 0;
    var down = 0;
    var twodown = 0;
    var threedown = 0;
}
<style>
    .gy td:hover {
        background: #D6EAF8;
        cursor: pointer;
    }
    .gn td:hover {
        background: #008000 !important;
        cursor: pointer;
    }
    .modal {
        overflow-y: auto;
    }
</style>
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <i class="mr-2 fa fa-th-large"></i>
                <strong class="card-title">ดูเลขทั้งหมด</strong>
            </div>
            <div class="card-body">
                <form action="#" method="post" enctype="multipart/form-data" class="form-horizontal">
                    <div class="row form-group">
                        <div class="col-md-1"><label for="select" class="form-control-label">เรียง</label></div>
                        <div class="col-md-4">
                            <select name="select" id="select" class="form-control-sm form-control">
                                <option value="0" selected>เลข</option>
                                <option value="1">ยอดแทง</option>
                            </select>
                        </div>
                        <div class="col-md-1"><label for="select2" class="form-control-label">แสดง</label></div>
                            <div class="col-md-4">
                                <select name="select" id="select2" class="form-control-sm form-control">
                                    <option value="1" selected>รับไว้</option>
                                    <option value="2">แทงเข้า</option>
                                    <option value="3">แทงออก</option>
                                </select>
                            </div>
                            @*<div class="col-md-2">
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>*@
                    </div>
                </form>
                <hr />
                <div class="table table-stats" style="text-align:center;">
                    <table class="table-fixed" width="100%">
                        <thead>
                            <tr>
                                <th style="border: 0;"></th>
                                <th colspan="6" style="color:white;background-color:#00c292;">สู้บน</th>
                                <th colspan="4" style="color:white;background-color:#000092;">สู้ล่าง</th>
                            </tr>
                        </thead>
                        <thead>
                            <tr>
                                <th style="border: 0;"></th>
                                <th style="background-color:white;" id="twoup">0</th>
                                <th style="background-color:white;" id="threeup">0</th>
                                <th style="background-color:white;" id="three_">0</th>
                                <th style="background-color:white;" id="two_">0</th>
                                <th style="background-color:white;" id="fthree">0</th>
                                <th style="background-color:white;" id="fthree_">0</th>
                                <th style="background-color:white;" id="up">0</th>
                                <th style="background-color:white;" id="down">0</th>
                                <th style="background-color:white;" id="twodown">0</th>
                                <th style="background-color:white;" id="threedown">0</th>
                            </tr>
                        </thead>
                        <thead>
                            <tr>
                                <th style="border: 0;"></th>
                                <th style="color:white;background-color:red;">2 บน</th>
                                <th style="color:white;background-color:black;">3 บน</th>
                                <th style="color:white;background-color:red;">3 โต๊ด</th>
                                <th style="color:white;background-color:black;">2 โต๊ด</th>
                                <th style="color:white;background-color:red;">3 หน้า</th>
                                <th style="color:white;background-color:black;">3 หน้าโต๊ด</th>
                                <th style="color:white;background-color:red;">วิ่ง บน</th>
                                <th style="color:white;background-color:black;">วิ่ง ล่าง</th>
                                <th style="color:white;background-color:red;">2 ล่าง</th>
                                <th style="color:white;background-color:black;">3 ล่าง</th>
                            </tr>
                        </thead>
                        <tbody style="text-align:left;">
                            <tr>
                                <td>
                                    @if (Model.Count > 0)
                                    {
                                        <table id="maxrow">
                                            @for (int i = 1; i <= Int32.Parse(Model[0].Max); i++)
                                            {
                                                <tr><td>@i</td></tr>
                                            }
                                        </table>
                                    }
                                </td>
                                <td style="vertical-align: top;">
                                    <table id="t2up">
                                        @foreach (var item in Model)
                                        {
                                            if (item.nLen == "2" && item.Type == "t")
                                            {
                                                twoup += Int32.Parse(item.Amount);
                                                if (item.Result=="1")
                                                {
                                                    <tr class="gn" onclick="UserPoll('@item.Number','2 บน','@item.Type',@item.nLen)" data-toggle="modal" data-target="#checkPollModal" data-backdrop="static" data-keyboard="false"><td nowrap style="background:#00FF00">@item.Number = @String.Format("{0:n0}", item.Amount)</td></tr>
                                                }
                                                else
                                                {
                                                    <tr class="gy" onclick="UserPoll('@item.Number','2 บน','@item.Type',@item.nLen)" data-toggle="modal" data-target="#checkPollModal" data-backdrop="static" data-keyboard="false"><td nowrap>@item.Number = @String.Format("{0:n0}", item.Amount)</td></tr>
                                                }
                                            }
                                        }
                                    </table>
                                </td>
                                <td style="vertical-align: top;">
                                    <table id="t3up">
                                        @foreach (var item in Model)
                                        {
                                            if (item.nLen == "3" && item.Type == "t")
                                            {
                                                threeup += Int32.Parse(item.Amount);
                                                if (item.Result == "1")
                                                {
                                                    <tr class="gn" onclick="UserPoll('@item.Number','3 บน','@item.Type',@item.nLen)" data-toggle="modal" data-target="#checkPollModal" data-backdrop="static" data-keyboard="false"><td nowrap style="background:#00FF00">@item.Number = @String.Format("{0:n0}", item.Amount)</td></tr>
                                                }
                                                else
                                                {
                                                    <tr class="gy" onclick="UserPoll('@item.Number','3 บน','@item.Type',@item.nLen)" data-toggle="modal" data-target="#checkPollModal" data-backdrop="static" data-keyboard="false"><td nowrap>@item.Number = @String.Format("{0:n0}", item.Amount)</td></tr>
                                                }
                                            }
                                        }
                                    </table>
                                </td>
                                <td style="vertical-align: top;">
                                    <table id="t3_">
                                        @foreach (var item in Model)
                                        {
                                            if (item.nLen == "3" && item.Type == "t_")
                                            {
                                                three_ += Int32.Parse(item.Amount);
                                                if (item.Result == "1")
                                                {
                                                    <tr class="gn" onclick="UserPoll('@item.Number','3 โต๊ด','@item.Type',@item.nLen)" data-toggle="modal" data-target="#checkPollModal" data-backdrop="static" data-keyboard="false"><td nowrap style="background:#00FF00">@item.Number = @String.Format("{0:n0}", item.Amount)</td></tr>
                                                }
                                                else
                                                {
                                                    <tr class="gy" onclick="UserPoll('@item.Number','3 โต๊ด','@item.Type',@item.nLen)" data-toggle="modal" data-target="#checkPollModal" data-backdrop="static" data-keyboard="false"><td nowrap>@item.Number = @String.Format("{0:n0}", item.Amount)</td></tr>
                                                }
                                            }
                                        }
                                    </table>
                                </td>
                                <td style="vertical-align: top;">
                                    <table id="t2_">
                                        @foreach (var item in Model)
                                        {
                                            if (item.nLen == "2" && item.Type == "t_")
                                            {
                                                two_ += Int32.Parse(item.Amount);
                                                if (item.Result == "1")
                                                {
                                                    <tr class="gn" onclick="UserPoll('@item.Number','2 โต๊ด','@item.Type',@item.nLen)" data-toggle="modal" data-target="#checkPollModal" data-backdrop="static" data-keyboard="false"><td nowrap style="background:#00FF00">@item.Number = @String.Format("{0:n0}", item.Amount)</td></tr>
                                                }
                                                else
                                                {
                                                    <tr class="gy" onclick="UserPoll('@item.Number','2 โต๊ด','@item.Type',@item.nLen)" data-toggle="modal" data-target="#checkPollModal" data-backdrop="static" data-keyboard="false"><td nowrap>@item.Number = @String.Format("{0:n0}", item.Amount)</td></tr>
                                                }
                                            }
                                        }
                                    </table>
                                </td>
                                <td style="vertical-align: top;">
                                    <table id="t3f">
                                        @foreach (var item in Model)
                                        {
                                            if (item.nLen == "3" && item.Type == "f")
                                            {
                                                fthree += Int32.Parse(item.Amount);
                                                if (item.Result == "1")
                                                {
                                                    <tr class="gn" onclick="UserPoll('@item.Number','3 หน้า','@item.Type',@item.nLen)" data-toggle="modal" data-target="#checkPollModal" data-backdrop="static" data-keyboard="false"><td nowrap style="background:#00FF00">@item.Number = @String.Format("{0:n0}", item.Amount)</td></tr>
                                                }
                                                else
                                                {
                                                    <tr class="gy" onclick="UserPoll('@item.Number','3 หน้า','@item.Type',@item.nLen)" data-toggle="modal" data-target="#checkPollModal" data-backdrop="static" data-keyboard="false"><td nowrap>@item.Number = @String.Format("{0:n0}", item.Amount)</td></tr>
                                                }
                                            }
                                        }
                                    </table>
                                </td>
                                <td style="vertical-align: top;">
                                    <table id="t3f_">
                                        @foreach (var item in Model)
                                        {
                                            if (item.nLen == "3" && item.Type == "f_")
                                            {
                                                fthree_ += Int32.Parse(item.Amount);
                                                if (item.Result == "1")
                                                {
                                                    <tr class="gn" onclick="UserPoll('@item.Number','3 หน้าโต๊ด','@item.Type',@item.nLen)" data-toggle="modal" data-target="#checkPollModal" data-backdrop="static" data-keyboard="false"><td nowrap style="background:#00FF00">@item.Number = @String.Format("{0:n0}", item.Amount)</td></tr>
                                                }
                                                else
                                                {
                                                    <tr class="gy" onclick="UserPoll('@item.Number','3 หน้าโต๊ด','@item.Type',@item.nLen)" data-toggle="modal" data-target="#checkPollModal" data-backdrop="static" data-keyboard="false"><td nowrap>@item.Number = @String.Format("{0:n0}", item.Amount)</td></tr>
                                                }
                                            }
                                        }
                                    </table>
                                </td>
                                <td style="vertical-align: top;">
                                    <table id="t1up">
                                        @foreach (var item in Model)
                                        {
                                            if (item.nLen == "1" && item.Type == "t")
                                            {
                                                up += Int32.Parse(item.Amount);
                                                if (item.Result == "1")
                                                {
                                                    <tr class="gn" onclick="UserPoll('@item.Number','วิ่งบน','@item.Type',@item.nLen)" data-toggle="modal" data-target="#checkPollModal" data-backdrop="static" data-keyboard="false"><td nowrap style="background:#00FF00">@item.Number = @String.Format("{0:n0}", item.Amount)</td></tr>
                                                }
                                                else
                                                {
                                                    <tr class="gy" onclick="UserPoll('@item.Number','วิ่งบน','@item.Type',@item.nLen)" data-toggle="modal" data-target="#checkPollModal" data-backdrop="static" data-keyboard="false"><td nowrap>@item.Number = @String.Format("{0:n0}", item.Amount)</td></tr>
                                                }
                                            }
                                        }
                                    </table>
                                </td>
                                <td style="vertical-align: top;">
                                    <table id="t1down">
                                        @foreach (var item in Model)
                                        {
                                            if (item.nLen == "1" && item.Type == "b")
                                            {
                                                down += Int32.Parse(item.Amount);
                                                if (item.Result == "1")
                                                {
                                                    <tr class="gn" onclick="UserPoll('@item.Number','วิ่งล่าง','@item.Type',@item.nLen)" data-toggle="modal" data-target="#checkPollModal" data-backdrop="static" data-keyboard="false"><td nowrap style="background:#00FF00">@item.Number = @String.Format("{0:n0}", item.Amount)</td></tr>
                                                }
                                                else
                                                {
                                                    <tr class="gy" onclick="UserPoll('@item.Number','วิ่งล่าง','@item.Type',@item.nLen)" data-toggle="modal" data-target="#checkPollModal" data-backdrop="static" data-keyboard="false"><td nowrap>@item.Number = @String.Format("{0:n0}", item.Amount)</td></tr>
                                                }
                                            }
                                        }
                                    </table>
                                </td>
                                <td style="vertical-align: top;">
                                    <table id="t2down">
                                        @foreach (var item in Model)
                                        {
                                            if (item.nLen == "2" && item.Type == "b")
                                            {
                                                twodown += Int32.Parse(item.Amount);
                                                if (item.Result == "1")
                                                {
                                                    <tr class="gn" onclick="UserPoll('@item.Number','2 ล่าง','@item.Type',@item.nLen)" data-toggle="modal" data-target="#checkPollModal" data-backdrop="static" data-keyboard="false"><td nowrap style="background:#00FF00">@item.Number = @String.Format("{0:n0}", item.Amount)</td></tr>
                                                }
                                                else
                                                {
                                                    <tr class="gy" onclick="UserPoll('@item.Number','2 ล่าง','@item.Type',@item.nLen)" data-toggle="modal" data-target="#checkPollModal" data-backdrop="static" data-keyboard="false"><td nowrap>@item.Number = @String.Format("{0:n0}", item.Amount)</td></tr>
                                                }
                                            }
                                        }
                                    </table>
                                </td>
                                <td style="vertical-align: top;">
                                    <table id="t3down">
                                        @foreach (var item in Model)
                                        {
                                            if (item.nLen == "3" && item.Type == "b")
                                            {
                                                threedown += Int32.Parse(item.Amount);
                                                if (item.Result == "1")
                                                {
                                                    <tr class="gn" onclick="UserPoll('@item.Number','3 ล่าง','@item.Type',@item.nLen)" data-toggle="modal" data-target="#checkPollModal" data-backdrop="static" data-keyboard="false"><td nowrap style="background:#00FF00">@item.Number = @String.Format("{0:n0}", item.Amount)</td></tr>
                                                }
                                                else
                                                {
                                                    <tr class="gy" onclick="UserPoll('@item.Number','3 ล่าง','@item.Type',@item.nLen)" data-toggle="modal" data-target="#checkPollModal" data-backdrop="static" data-keyboard="false"><td nowrap>@item.Number = @String.Format("{0:n0}", item.Amount)</td></tr>
                                                }
                                            }
                                        }
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div> <!-- /.table-stats -->
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="checkPollModal" tabindex="-1" role="dialog" aria-labelledby="checkPollModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document" style="max-width:50%;">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" style="display:inline-block" id="checkPollModalLabel">รายการแทงเลข <span id="headernumber"></span> - <span id="headertype"></span></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table class="table table-striped table-bordered user-poll-data-table">
                    <thead>
                        <tr>
                            <th>สมาชิก</th>
                            <th>จำนวนโพย</th>
                            <th>จำนวนเงิน</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                    <tfoot>
                        <tr>
                            <th></th>
                            <th>รวม</th>
                            <th><span id="total_amount"></span></th>
                            <th></th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="checkModal" tabindex="-1" role="dialog" aria-labelledby="checkModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document" style="max-width:90%;">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" style="display:inline-block" id="checkPollModalLabel">ดูโพย</h5>
                <button type="button" class="close x-modal" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table class="table table-striped table-bordered user-poll-detail-data-table">
                    <thead>
                        <tr>
                            <th>สมาชิก</th>
                            <th>ชื่อโพย</th>
                            <th>สถานะ</th>
                            <th>ยอดแทง</th>
                            <th>ยอดรับ</th>
                            <th>ยอดหัก%</th>
                            <th>ยอดถูก</th>
                            <th>วันที่ส่ง</th>
                            <th>IP Adress</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                    <tfoot>
                        <tr>
                            <th>รวม</th>
                            <th></th>
                            <th></th>
                            <th><span id="total_amount2"></span></th>
                            <th><span id="total_recieve2"></span></th>
                            <th><span id="total_discount2"></span></th>
                            <th><span id="total_win2"></span></th>
                            <th></th>
                            <th>สรุป</th>
                            <th><span id="total_sum2"></span></th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="checkModal3" tabindex="-1" role="dialog" aria-labelledby="checkModal3Label" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document" style="max-width:90%;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close x-modal" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <h3>สรุปโพย</h3>
                    </div>
                    <div class="col-md-6 right">
                        <button type="button" class="btn btn-sm btn-info imgPoll" pid="">ดูรูปโพย</button>
                        <button type="button" class="btn btn-sm btn-warning hidden" id="editPoll">แก้ไข</button>
                        <button type="button" class="btn btn-sm btn-danger hidden" id="reject">คืนทั้งใบ</button>
                        <button type="button" class="btn btn-sm btn-default" id="printPoll">พิมพ์</button>
                    </div>
                    <div class="col-md-12">
                        <div id="printPollArea">
                            <hr />
                            <div class="col-md-12">
                                <form action="#" method="post" enctype="multipart/form-data" class="form-horizontal">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="row form-group">
                                                <div class="col col-md-5"><label for="text-input" class="form-control-label">ชื่อโพย</label></div>
                                                <div class="col col-md-7"><div id="poll_name" class="form-control-label bold"></div></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="row form-group">
                                                <div class="col col-md-5"><label class="form-control-label">โพยใบที่</label></div>
                                                <div class="col-12 col-md-7"><div id="poll_number" class="form-control-label bold"></div></div>
                                            </div>
                                            <div class="row form-group">
                                                <div class="col col-md-5"><label class="form-control-label">สถานะ</label></div>
                                                <div class="col-12 col-md-7"><div id="receive_status" class="form-control-label bold"></div></div>
                                            </div>
                                            <div class="row form-group">
                                                <div class="col col-md-5"><label class="form-control-label">ยอดแทงใบนี้</label></div>
                                                <div class="col-12 col-md-7"><div id="amount" class="form-control-label bold"></div></div>
                                            </div>
                                            <div class="row form-group">
                                                <div class="col col-md-5"><label class="form-control-label">ยอดรับใบนี้</label></div>
                                                <div class="col-12 col-md-7"><div id="receive" class="form-control-label bold"></div></div>
                                            </div>
                                            <div class="row form-group">
                                                <div class="col col-md-5"><label class="form-control-label">ยอดหัก%ใบนี้</label></div>
                                                <div class="col-12 col-md-7"><div id="discount" class="form-control-label bold"></div></div>
                                            </div>
                                            <div class="row form-group">
                                                <div class="col col-md-5"><label class="form-control-label">วันที่แทง</label></div>
                                                <div class="col-12 col-md-7"><div id="poll_date" class="form-control-label bold"></div></div>
                                            </div>
                                            <div class="row form-group">
                                                <div class="col col-md-5"><label class="form-control-label">แทงโดย</label></div>
                                                <div class="col-12 col-md-7"><div id="poll_by" class="form-control-label bold"></div></div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="row form-group">
                                                <div class="col col-md-5"><label class="form-control-label">วันที่รับ</label></div>
                                                <div class="col-12 col-md-7"><div id="receive_date" class="form-control-label bold"></div></div>
                                            </div>

                                            <div class="row form-group">
                                                <div class="col col-md-5"><label class="form-control-label">โพยหมายเลข</label></div>
                                                <div class="col-12 col-md-7"><div id="poll_id" class="form-control-label bold"></div></div>
                                            </div>
                                            <div class="row form-group">
                                                <div class="col col-md-5"><label class="form-control-label">จำนวนโพย</label></div>
                                                <div class="col-12 col-md-7"><div id="total_poll" class="form-control-label bold"></div></div>
                                            </div>
                                            <div class="row form-group">
                                                <div class="col col-md-5"><label class="form-control-label">รับแล้ว</label></div>
                                                <div class="col-12 col-md-7"><div id="receive_poll" class="form-control-label bold"></div></div>
                                            </div>
                                            <div class="row form-group">
                                                <div class="col col-md-5"><label class="form-control-label">ยอดคืนงวดนี้</label></div>
                                                <div class="col-12 col-md-7"><div id="r_amount" class="form-control-label bold"></div></div>
                                            </div>
                                            <div class="row form-group">
                                                <div class="col col-md-5"><label class="form-control-label">ยอดรับงวดนี้</label></div>
                                                <div class="col-12 col-md-7"><div id="receive_amount" class="form-control-label bold"></div></div>
                                            </div>
                                            <div class="row form-group">
                                                <div class="col col-md-5"><label class="form-control-label">ยอดหัก%งวดนี้</label></div>
                                                <div class="col-12 col-md-7"><div id="t_discount" class="form-control-label bold"></div></div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <hr />
                            <div class="col-md-12">
                                <div class="row" id="poll">

                                </div>
                            </div>
                        </div>
                        <div id="action-area" class="col-md-12 right hidden">
                            <button type="button" class="btn btn-sm btn-success x-modal" id="sendPoll" data-dismiss="modal">ยืนยันการแก้ไข</button>
                            <button type="button" class="btn btn-sm btn-danger x-modal" data-dismiss="modal">ยกเลิก</button>
                        </div>
                    </div>
                </div>
            </div>
            @*<div class="modal-footer">
                    <button type="button" class="btn btn-primary">ตรวจ</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">ยกเลิก</button>
                </div>*@
        </div>
    </div>
</div>
<script type="text/javascript">
    var editable = false;
</script>
<script src="~/Assets/js/admin_list.js"></script>
<script src="~/Assets/js/admin_list_edit.js"></script>
<script src="~/Assets/js/sweetalert2.all.min.js"></script>
<script src="~/Assets/js/allbet.js"></script>
<script>
    getUserPoll2 = '@Url.Action("getUserPoll", "Admin")';
    getUserPollDetail = '@Url.Action("getUserPollDetail", "Admin")';
    getUserPoll = '@Url.Action("List", "Admin")';
    getPoll = '@Url.Action("getPoll", "User")';
    getPollHeadDetail = '@Url.Action("getPoll", "Admin")';
    RejectPoll = '@Url.Action("RejectPoll", "Admin")';
    addPoll = '@Url.Action("AddPoll", "Admin")';
    getUserBetResult = '@Url.Action("GetUserBetResult", "Admin")';
    getUserTotalBalance = '@Url.Action("GetUserTotalBalance", "Admin")';
    getImg = '@Url.Action("getImage", "User")';
    var receive = @Html.Raw(Json.Encode(Model));
    var betoutmodel = @Html.Raw(Json.Encode(ViewBag.betout));
    var all = @Html.Raw(Json.Encode(ViewBag.allbet));
    var twoup = @Html.Raw(twoup);
    var threeup = @Html.Raw(threeup);
    var three_ = @Html.Raw(three_);
    var two_ = @Html.Raw(two_);
    var fthree = @Html.Raw(fthree);
    var fthree_ = @Html.Raw(fthree_);
    var up = @Html.Raw(up);
    var down = @Html.Raw(down);
    var twodown = @Html.Raw(twodown);
    var threedown = @Html.Raw(threedown);
    var model = receive;
    console.log(all);
    $("#twoup").html(nwc(twoup));
    $("#threeup").html(nwc(threeup));
    $("#threedown").html(nwc(threedown));
    $("#three_").html(nwc(three_));
    $("#two_").html(nwc(two_));
    $("#fthree").html(nwc(fthree));
    $("#fthree_").html(nwc(fthree_));
    $("#up").html(nwc(up));
    $("#down").html(nwc(down));
    $("#twodown").html(nwc(twodown));
    (function ($) {
        $('#allLotto').html('18675');
    })(jQuery);

    $("#select").change(function () {
        $("#t2up").html("");
        $("#t3up").html("");
        $("#t3_").html("");
        $("#t2_").html("");
        $("#t3f").html("");
        $("#t3f_").html("");
        $("#t1up").html("");
        $("#t1down").html("");
        $("#t2down").html("");
        $("#t3down").html("");

        if (this.value == 0) {
            model.sort(function (a, b) {
                if (parseInt(a.nLen) == parseInt(b.nLen)) {
                    if (a.Type == b.Type) {
                        return (parseInt(a.Number) < parseInt(b.Number)) ? -1 : (parseInt(a.Number) > parseInt(b.Number)) ? 1 : 0;
                    }
                    else {
                        return (a.Type < b.Type) ? -1 : 1;
                    }
                }
                else {
                    return (parseInt(a.nLen) < parseInt(b.nLen)) ? -1 : 1;
                }

                //return a.Number.localeCompare(b.Number);
            });
            console.log(model);
            for (var i = 0; i < Object.keys(model).length; i++) {
                if (model[i].Type == "t" && model[i].nLen == "2") {
                    if (model[i].Result == "1")
                    {
                        $("#t2up").append('<tr class="gn" onclick="UserPoll(\''+ model[i].Number + '\',\'2 บน\',\'' + model[i].Type + '\',' + model[i].nLen+')" data-toggle="modal" data-target="#checkPollModal" data-backdrop="static" data-keyboard="false"><td nowrap style="background:#00FF00">' + model[i].Number + ' = ' + model[i].Amount + '</td></tr>');                        
                    }
                    else
                    {
                        $("#t2up").append('<tr class="gy" onclick="UserPoll(\'' + model[i].Number + '\',\'2 บน\',\'' + model[i].Type + '\',' + model[i].nLen + ')" data-toggle="modal" data-target="#checkPollModal" data-backdrop="static" data-keyboard="false"><td nowrap>' + model[i].Number + ' = ' + model[i].Amount + '</td></tr>');                          
                    }
                }
                else if (model[i].nLen == "3" && model[i].Type == "t") {
                    if (model[i].Result == "1") {
                        $("#t3up").append('<tr class="gn" onclick="UserPoll(\'' + model[i].Number + '\',\'3 บน\',\'' + model[i].Type + '\',' + model[i].nLen + ')" data-toggle="modal" data-target="#checkPollModal" data-backdrop="static" data-keyboard="false"><td nowrap style="background:#00FF00">' + model[i].Number + ' = ' + model[i].Amount + '</td></tr>');
                    }
                    else {
                        $("#t3up").append('<tr class="gy" onclick="UserPoll(\'' + model[i].Number + '\',\'3 บน\',\'' + model[i].Type + '\',' + model[i].nLen + ')" data-toggle="modal" data-target="#checkPollModal" data-backdrop="static" data-keyboard="false"><td nowrap>' + model[i].Number + ' = ' + model[i].Amount + '</td></tr>');
                    }
                }
                else if (model[i].nLen == "3" && model[i].Type == "t_") {
                    if (model[i].Result == "1") {
                        $("#t3_").append('<tr class="gn" onclick="UserPoll(\'' + model[i].Number + '\',\'3 โต๊ด\',\'' + model[i].Type + '\',' + model[i].nLen + ')" data-toggle="modal" data-target="#checkPollModal" data-backdrop="static" data-keyboard="false"><td nowrap style="background:#00FF00">' + model[i].Number + ' = ' + model[i].Amount + '</td></tr>');
                    }
                    else {
                        $("#t3_").append('<tr class="gy" onclick="UserPoll(\'' + model[i].Number + '\',\'3 โต๊ด\',\'' + model[i].Type + '\',' + model[i].nLen + ')" data-toggle="modal" data-target="#checkPollModal" data-backdrop="static" data-keyboard="false"><td nowrap>' + model[i].Number + ' = ' + model[i].Amount + '</td></tr>');
                    }
                }
                else if (model[i].nLen == "2" && model[i].Type == "t_") {
                    if (model[i].Result == "1") {
                        $("#t2_").append('<tr class="gn" onclick="UserPoll(\'' + model[i].Number + '\',\'2 โต๊ด\',\'' + model[i].Type + '\',' + model[i].nLen + ')" data-toggle="modal" data-target="#checkPollModal" data-backdrop="static" data-keyboard="false"><td nowrap style="background:#00FF00">' + model[i].Number + ' = ' + model[i].Amount + '</td></tr>');
                    }
                    else {
                        $("#t2_").append('<tr class="gy" onclick="UserPoll(\'' + model[i].Number + '\',\'2 โต๊ด\',\'' + model[i].Type + '\',' + model[i].nLen + ')" data-toggle="modal" data-target="#checkPollModal" data-backdrop="static" data-keyboard="false"><td nowrap>' + model[i].Number + ' = ' + model[i].Amount + '</td></tr>');
                    }
                }
                else if (model[i].nLen == "3" && model[i].Type == "f") {
                    if (model[i].Result == "1") {
                        $("#t3f").append('<tr class="gn" onclick="UserPoll(\'' + model[i].Number + '\',\'3 หน้า\',\'' + model[i].Type + '\',' + model[i].nLen + ')" data-toggle="modal" data-target="#checkPollModal" data-backdrop="static" data-keyboard="false"><td nowrap style="background:#00FF00">' + model[i].Number + ' = ' + model[i].Amount + '</td></tr>');
                    }
                    else {
                        $("#t3f").append('<tr class="gy" onclick="UserPoll(\'' + model[i].Number + '\',\'3 หน้า\',\'' + model[i].Type + '\',' + model[i].nLen + ')" data-toggle="modal" data-target="#checkPollModal" data-backdrop="static" data-keyboard="false"><td nowrap>' + model[i].Number + ' = ' + model[i].Amount + '</td></tr>');
                    }
                }
                else if (model[i].nLen == "3" && model[i].Type == "f_") {
                    if (model[i].Result == "1") {
                        $("#t3f_").append('<tr class="gn" onclick="UserPoll(\'' + model[i].Number + '\',\'3 หน้าโต๊ด\',\'' + model[i].Type + '\',' + model[i].nLen + ')" data-toggle="modal" data-target="#checkPollModal" data-backdrop="static" data-keyboard="false"><td nowrap style="background:#00FF00">' + model[i].Number + ' = ' + model[i].Amount + '</td></tr>');
                    }
                    else {
                        $("#t3f_").append('<tr class="gy" onclick="UserPoll(\'' + model[i].Number + '\',\'3 หน้าโต๊ด\',\'' + model[i].Type + '\',' + model[i].nLen + ')" data-toggle="modal" data-target="#checkPollModal" data-backdrop="static" data-keyboard="false"><td nowrap>' + model[i].Number + ' = ' + model[i].Amount + '</td></tr>');
                    }
                }
                else if (model[i].nLen == "1" && model[i].Type == "t") {
                    if (model[i].Result == "1") {
                        $("#t1up").append('<tr class="gn" onclick="UserPoll(\'' + model[i].Number + '\',\'วิ่งบน\',\'' + model[i].Type + '\',' + model[i].nLen + ')" data-toggle="modal" data-target="#checkPollModal" data-backdrop="static" data-keyboard="false"><td nowrap style="background:#00FF00">' + model[i].Number + ' = ' + model[i].Amount + '</td></tr>');
                    }
                    else {
                        $("#t1up").append('<tr class="gy" onclick="UserPoll(\'' + model[i].Number + '\',\'วิ่งบน\',\'' + model[i].Type + '\',' + model[i].nLen + ')" data-toggle="modal" data-target="#checkPollModal" data-backdrop="static" data-keyboard="false"><td nowrap>' + model[i].Number + ' = ' + model[i].Amount + '</td></tr>');
                    }
                }
                else if (model[i].nLen == "1" && model[i].Type == "b") {
                    if (model[i].Result == "1") {
                        $("#t1down").append('<tr class="gn" onclick="UserPoll(\'' + model[i].Number + '\',\'วิ่งล่าง\',\'' + model[i].Type + '\',' + model[i].nLen + ')" data-toggle="modal" data-target="#checkPollModal" data-backdrop="static" data-keyboard="false"><td nowrap style="background:#00FF00">' + model[i].Number + ' = ' + model[i].Amount + '</td></tr>');
                    }
                    else {
                        $("#t1down").append('<tr class="gy" onclick="UserPoll(\'' + model[i].Number + '\',\'วิ่งล่าง\',\'' + model[i].Type + '\',' + model[i].nLen + ')" data-toggle="modal" data-target="#checkPollModal" data-backdrop="static" data-keyboard="false"><td nowrap>' + model[i].Number + ' = ' + model[i].Amount + '</td></tr>');
                    }
                }
                else if (model[i].nLen == "2" && model[i].Type == "b") {
                    if (model[i].Result == "1") {
                        $("#t2down").append('<tr class="gn" onclick="UserPoll(\'' + model[i].Number + '\',\'2 ล่าง\',\'' + model[i].Type + '\',' + model[i].nLen + ')" data-toggle="modal" data-target="#checkPollModal" data-backdrop="static" data-keyboard="false"><td nowrap style="background:#00FF00">' + model[i].Number + ' = ' + model[i].Amount + '</td></tr>');
                    }
                    else {
                        $("#t2down").append('<tr class="gy" onclick="UserPoll(\'' + model[i].Number + '\',\'2 ล่าง\',\'' + model[i].Type + '\',' + model[i].nLen + ')" data-toggle="modal" data-target="#checkPollModal" data-backdrop="static" data-keyboard="false"><td nowrap>' + model[i].Number + ' = ' + model[i].Amount + '</td></tr>');
                    }
                }
                else if (model[i].nLen == "3" && model[i].Type == "b") {
                    if (model[i].Result == "1") {
                        $("#t3down").append('<tr class="gn" onclick="UserPoll(\'' + model[i].Number + '\',\'3 ล่าง\',\'' + model[i].Type + '\',' + model[i].nLen + ')" data-toggle="modal" data-target="#checkPollModal" data-backdrop="static" data-keyboard="false"><td nowrap style="background:#00FF00">' + model[i].Number + ' = ' + model[i].Amount + '</td></tr>');
                    }
                    else {
                        $("#t3down").append('<tr class="gy" onclick="UserPoll(\'' + model[i].Number + '\',\'3 ล่าง\',\'' + model[i].Type + '\',' + model[i].nLen + ')" data-toggle="modal" data-target="#checkPollModal" data-backdrop="static" data-keyboard="false"><td nowrap>' + model[i].Number + ' = ' + model[i].Amount + '</td></tr>');
                    }
                }
                else {

                }
            }
        }
        else {
            model.sort(function (a, b) {
                if (parseInt(a.nLen) == parseInt(b.nLen)) {
                    if (a.Type == b.Type) {
                        return (parseInt(a.Amount) > parseInt(b.Amount)) ? -1 : (parseInt(a.Amount) < parseInt(b.Amount)) ? 1 : 0;
                    }
                    else {
                        return (a.Type < b.Type) ? -1 : 1;
                    }
                }
                else {
                    return (parseInt(a.nLen) < parseInt(b.nLen)) ? -1 : 1;
                }

                //return b.Amount.localeCompare(a.Amount);
            });
            //console.log(model);
            for (var i = 0; i < Object.keys(model).length; i++) {
                for (var i = 0; i < Object.keys(model).length; i++) {
                    if (model[i].Type == "t" && model[i].nLen == "2") {
                        if (model[i].Result == "1") {
                            $("#t2up").append('<tr class="gn" onclick="UserPoll(\'' + model[i].Number + '\',\'2 บน\',\'' + model[i].Type + '\',' + model[i].nLen + ')" data-toggle="modal" data-target="#checkPollModal" data-backdrop="static" data-keyboard="false"><td nowrap style="background:#00FF00">' + model[i].Number + ' = ' + model[i].Amount + '</td></tr>');
                        }
                        else {
                            $("#t2up").append('<tr class="gy" onclick="UserPoll(\'' + model[i].Number + '\',\'2 บน\',\'' + model[i].Type + '\',' + model[i].nLen + ')" data-toggle="modal" data-target="#checkPollModal" data-backdrop="static" data-keyboard="false"><td nowrap>' + model[i].Number + ' = ' + model[i].Amount + '</td></tr>');
                        }
                    }
                    else if (model[i].nLen == "3" && model[i].Type == "t") {
                        if (model[i].Result == "1") {
                            $("#t3up").append('<tr class="gn" onclick="UserPoll(\'' + model[i].Number + '\',\'3 บน\',\'' + model[i].Type + '\',' + model[i].nLen + ')" data-toggle="modal" data-target="#checkPollModal" data-backdrop="static" data-keyboard="false"><td nowrap style="background:#00FF00">' + model[i].Number + ' = ' + model[i].Amount + '</td></tr>');
                        }
                        else {
                            $("#t3up").append('<tr class="gy" onclick="UserPoll(\'' + model[i].Number + '\',\'3 บน\',\'' + model[i].Type + '\',' + model[i].nLen + ')" data-toggle="modal" data-target="#checkPollModal" data-backdrop="static" data-keyboard="false"><td nowrap>' + model[i].Number + ' = ' + model[i].Amount + '</td></tr>');
                        }
                    }
                    else if (model[i].nLen == "3" && model[i].Type == "t_") {
                        if (model[i].Result == "1") {
                            $("#t3_").append('<tr class="gn" onclick="UserPoll(\'' + model[i].Number + '\',\'3 โต๊ด\',\'' + model[i].Type + '\',' + model[i].nLen + ')" data-toggle="modal" data-target="#checkPollModal" data-backdrop="static" data-keyboard="false"><td nowrap style="background:#00FF00">' + model[i].Number + ' = ' + model[i].Amount + '</td></tr>');
                        }
                        else {
                            $("#t3_").append('<tr class="gy" onclick="UserPoll(\'' + model[i].Number + '\',\'3 โต๊ด\',\'' + model[i].Type + '\',' + model[i].nLen + ')" data-toggle="modal" data-target="#checkPollModal" data-backdrop="static" data-keyboard="false"><td nowrap>' + model[i].Number + ' = ' + model[i].Amount + '</td></tr>');
                        }
                    }
                    else if (model[i].nLen == "2" && model[i].Type == "t_") {
                        if (model[i].Result == "1") {
                            $("#t2_").append('<tr class="gn" onclick="UserPoll(\'' + model[i].Number + '\',\'2 โต๊ด\',\'' + model[i].Type + '\',' + model[i].nLen + ')" data-toggle="modal" data-target="#checkPollModal" data-backdrop="static" data-keyboard="false"><td nowrap style="background:#00FF00">' + model[i].Number + ' = ' + model[i].Amount + '</td></tr>');
                        }
                        else {
                            $("#t2_").append('<tr class="gy" onclick="UserPoll(\'' + model[i].Number + '\',\'2 โต๊ด\',\'' + model[i].Type + '\',' + model[i].nLen + ')" data-toggle="modal" data-target="#checkPollModal" data-backdrop="static" data-keyboard="false"><td nowrap>' + model[i].Number + ' = ' + model[i].Amount + '</td></tr>');
                        }
                    }
                    else if (model[i].nLen == "3" && model[i].Type == "f") {
                        if (model[i].Result == "1") {
                            $("#t3f").append('<tr class="gn" onclick="UserPoll(\'' + model[i].Number + '\',\'3 หน้า\',\'' + model[i].Type + '\',' + model[i].nLen + ')" data-toggle="modal" data-target="#checkPollModal" data-backdrop="static" data-keyboard="false"><td nowrap style="background:#00FF00">' + model[i].Number + ' = ' + model[i].Amount + '</td></tr>');
                        }
                        else {
                            $("#t3f").append('<tr class="gy" onclick="UserPoll(\'' + model[i].Number + '\',\'3 หน้า\',\'' + model[i].Type + '\',' + model[i].nLen + ')" data-toggle="modal" data-target="#checkPollModal" data-backdrop="static" data-keyboard="false"><td nowrap>' + model[i].Number + ' = ' + model[i].Amount + '</td></tr>');
                        }
                    }
                    else if (model[i].nLen == "3" && model[i].Type == "f_") {
                        if (model[i].Result == "1") {
                            $("#t3f_").append('<tr class="gn" onclick="UserPoll(\'' + model[i].Number + '\',\'3 หน้าโต๊ด\',\'' + model[i].Type + '\',' + model[i].nLen + ')" data-toggle="modal" data-target="#checkPollModal" data-backdrop="static" data-keyboard="false"><td nowrap style="background:#00FF00">' + model[i].Number + ' = ' + model[i].Amount + '</td></tr>');
                        }
                        else {
                            $("#t3f_").append('<tr class="gy" onclick="UserPoll(\'' + model[i].Number + '\',\'3 หน้าโต๊ด\',\'' + model[i].Type + '\',' + model[i].nLen + ')" data-toggle="modal" data-target="#checkPollModal" data-backdrop="static" data-keyboard="false"><td nowrap>' + model[i].Number + ' = ' + model[i].Amount + '</td></tr>');
                        }
                    }
                    else if (model[i].nLen == "1" && model[i].Type == "t") {
                        if (model[i].Result == "1") {
                            $("#t1up").append('<tr class="gn" onclick="UserPoll(\'' + model[i].Number + '\',\'วิ่งบน\',\'' + model[i].Type + '\',' + model[i].nLen + ')" data-toggle="modal" data-target="#checkPollModal" data-backdrop="static" data-keyboard="false"><td nowrap style="background:#00FF00">' + model[i].Number + ' = ' + model[i].Amount + '</td></tr>');
                        }
                        else {
                            $("#t1up").append('<tr class="gy" onclick="UserPoll(\'' + model[i].Number + '\',\'วิ่งบน\',\'' + model[i].Type + '\',' + model[i].nLen + ')" data-toggle="modal" data-target="#checkPollModal" data-backdrop="static" data-keyboard="false"><td nowrap>' + model[i].Number + ' = ' + model[i].Amount + '</td></tr>');
                        }
                    }
                    else if (model[i].nLen == "1" && model[i].Type == "b") {
                        if (model[i].Result == "1") {
                            $("#t1down").append('<tr class="gn" onclick="UserPoll(\'' + model[i].Number + '\',\'วิ่งล่าง\',\'' + model[i].Type + '\',' + model[i].nLen + ')" data-toggle="modal" data-target="#checkPollModal" data-backdrop="static" data-keyboard="false"><td nowrap style="background:#00FF00">' + model[i].Number + ' = ' + model[i].Amount + '</td></tr>');
                        }
                        else {
                            $("#t1down").append('<tr class="gy" onclick="UserPoll(\'' + model[i].Number + '\',\'วิ่งล่าง\',\'' + model[i].Type + '\',' + model[i].nLen + ')" data-toggle="modal" data-target="#checkPollModal" data-backdrop="static" data-keyboard="false"><td nowrap>' + model[i].Number + ' = ' + model[i].Amount + '</td></tr>');
                        }
                    }
                    else if (model[i].nLen == "2" && model[i].Type == "b") {
                        if (model[i].Result == "1") {
                            $("#t2down").append('<tr class="gn" onclick="UserPoll(\'' + model[i].Number + '\',\'2 ล่าง\',\'' + model[i].Type + '\',' + model[i].nLen + ')" data-toggle="modal" data-target="#checkPollModal" data-backdrop="static" data-keyboard="false"><td nowrap style="background:#00FF00">' + model[i].Number + ' = ' + model[i].Amount + '</td></tr>');
                        }
                        else {
                            $("#t2down").append('<tr class="gy" onclick="UserPoll(\'' + model[i].Number + '\',\'2 ล่าง\',\'' + model[i].Type + '\',' + model[i].nLen + ')" data-toggle="modal" data-target="#checkPollModal" data-backdrop="static" data-keyboard="false"><td nowrap>' + model[i].Number + ' = ' + model[i].Amount + '</td></tr>');
                        }
                    }
                    else if (model[i].nLen == "3" && model[i].Type == "b") {
                        if (model[i].Result == "1") {
                            $("#t3down").append('<tr class="gn" onclick="UserPoll(\'' + model[i].Number + '\',\'3 ล่าง\',\'' + model[i].Type + '\',' + model[i].nLen + ')" data-toggle="modal" data-target="#checkPollModal" data-backdrop="static" data-keyboard="false"><td nowrap style="background:#00FF00">' + model[i].Number + ' = ' + model[i].Amount + '</td></tr>');
                        }
                        else {
                            $("#t3down").append('<tr class="gy" onclick="UserPoll(\'' + model[i].Number + '\',\'3 ล่าง\',\'' + model[i].Type + '\',' + model[i].nLen + ')" data-toggle="modal" data-target="#checkPollModal" data-backdrop="static" data-keyboard="false"><td nowrap>' + model[i].Number + ' = ' + model[i].Amount + '</td></tr>');
                        }
                    }
                    else {

                    }
                }
            }
        }
    });

    var pollTable = $('.user-poll-data-table').DataTable({
        "lengthMenu": [[10, 20, 50, -1], [10, 20, 50, "All"]],
        "paging": true,
        "lengthChange": true,
        "searching": true,
        "ordering": true,
        "info": true,
        "autoWidth": true,
        "data": [],
        "columns": [
            {
                "title": "สมาชิก",
                "data": "Username"
            },
            {
                "title": "จำนวนโพย",
                "data": "poll_count"
            },
            {
                "title": "จำนวนเงิน",
                "data": "Amount"
            },
            {
                "title": "",
                "data": null,
                "render": function (data, type, row, meta) {
                    return '<button type="button" class="btn btn-sm btn-warning showPoll2" ' +
                        'data-uid="' + row.UID + '" ' +
                        'data-number="' + row.Number + '" ' +
                        'data-type="' + row.Type + '" ' +
                        'data-nlen="' + row.nLen + '" ' +
                        'data-toggle="modal" data-target="#checkModal"  data-backdrop="static" data-keyboard="false">ดูโพย</button';
                }
            }
        ]
    });

    var pollDetailTable = $('.user-poll-detail-data-table').DataTable({
        "lengthMenu": [[10, 20, 50, -1], [10, 20, 50, "All"]],
        "paging": true,
        "lengthChange": true,
        "searching": true,
        "ordering": true,
        "info": true,
        "autoWidth": true,
        "data": [],
        "columns": [
            {
                "title": "สมาชิก",
                "data": "name"
            },
            {
                "title": "ชื่อโพย",
                "data": "Poll_Name"
            },
            {
                "title": "สถานะ",
                "data": null,
                "render": function (data, type, row, meta) {
                    return row.Receive;
                }
            },
            {
                "title": "ยอดแทง",
                "data": null,
                "render": function (data, type, row, meta) {
                    return nwc(row.Amount);
                }
            },
            {
                "title": "ยอดรับ",
                "data": null,
                "render": function (data, type, row, meta) {
                    if (row.Receive == "รับแล้ว") {
                        return nwc(row.Amount);
                    }
                    else {
                        return nwc("0");
                    }
                }
            },
            {
                "title": "ยอดหัก%",
                "data": null,
                "render": function (data, type, row, meta) {
                    return nwc(row.Discount);
                }
            },
            {
                "title": "ยอดถูก",
                "data": null,
                "render": function (data, type, row, meta) {
                    return nwc(row.Win);
                }
            },
            {
                "title": "วันที่ส่ง",
                "data": "create_date"
            },
            {
                "title": "IP Adress",
                "data": "IP"
            },
            {
                "title": "",
                "data": null,
                "render": function (data, type, row, meta) {
                    return '<button type="button" class="btn btn-sm btn-primary showPoll" ' +
                        'data-uid="' + row.UID + '" ' +
                        'data-pollNumber="' + row.poll_number + '" ' +
                        'data-pollName="' + row.Poll_Name + '" ' +
                        'data-cBy="' + row.Create_By + '" ' +
                        'data-cDate="' + row.create_date + '" ' +
                        'data-discount="' + row.Discount + '" ' +
                        'data-areceiv="' + row.Amount + '" ' +
                        'data-amount="' + row.Amount + '" ' +
                        'data-receive="' + row.Receive + '" ' +
                        'data-id="' + row.ID + '" ' +
                        'data-type="0" ' +
                        'data-toggle="modal" data-target="#checkModal3"  data-backdrop="static" data-keyboard="false">ดูโพย</button';
                }
            }
        ]
    });
    $('#printPoll').click(function () {

        var printContents = document.getElementById('printPollArea');

        var newWin = window.open('', 'Print-Window');

        newWin.document.open();

        newWin.document.write('<html><head><link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css"><style>.bet-no{float: left;width: 10%;padding: 2px;padding-top: 10px}.bet-type{float: left;width: 20%;padding: 2px;text-align: center}.bt{float: left;width: 20%;padding: 2px;text-align: center}.bet-lotto{float: left;width: 20%;padding: 2px}.bet-equal{float: left;width: 5%;padding: 2px;padding-top: 10px}.bet-price{float: left;width: 40%;padding: 2px}</style></head><body onload="window.print()">' + printContents.innerHTML + '</body></html>');

        newWin.document.close();

        setTimeout(function () { newWin.close(); }, 10);
    });
    $('#openBtn').click(function () {
        $('#checkPollModal').modal({
            show: true
        })
    });

    $(document).on('show.bs.modal', '.modal', function (event) {
        var zIndex = 1040 + (10 * $('.modal:visible').length);
        $(this).css('z-index', zIndex);
        setTimeout(function () {
            $('.modal-backdrop').not('.modal-stack').css('z-index', zIndex - 1).addClass('modal-stack');
        }, 0);
    });
    $("#select2").change(function () {
        $("#t2up").html("");
        $("#t3up").html("");
        $("#t3_").html("");
        $("#t2_").html("");
        $("#t3f").html("");
        $("#t3f_").html("");
        $("#t1up").html("");
        $("#t1down").html("");
        $("#t2down").html("");
        $("#t3down").html("");
        $("#select").val(0);
        twoup = 0;
        threeup = 0;
        three_ = 0;
        two_ = 0;
        fthree = 0;
        fthree_ = 0;
        up = 0;
        down = 0;
        twodown = 0;
        threedown = 0;
        if (this.value == 1) {
            model = receive;
        }
        else if (this.value == 2) {
            model = all;
        }
        else if (this.value == 3) {
            model = betoutmodel;
        }
        else { }
        if (model.length > 0) {
            $("#maxrow").html("");
            for (var i = 1; i <= parseInt(model[0].Max); i++) {
                $("#maxrow").append("<tr><td>" + i + "</td></tr>");
            }
        }
        else {
            $("#maxrow").html("");
        }
        model.sort(function (a, b) {
            if (parseInt(a.nLen) == parseInt(b.nLen)) {
                if (a.Type == b.Type) {
                    return (parseInt(a.Number) < parseInt(b.Number)) ? -1 : (parseInt(a.Number) > parseInt(b.Number)) ? 1 : 0;
                }
                else {
                    return (a.Type < b.Type) ? -1 : 1;
                }
            }
            else {
                return (parseInt(a.nLen) < parseInt(b.nLen)) ? -1 : 1;
            }

            //return a.Number.localeCompare(b.Number);
        });
        for (var i = 0; i < Object.keys(model).length; i++) {
            if (model[i].Type == "t" && model[i].nLen == "2") {
                if (model[i].Result == "1") {
                    $("#t2up").append('<tr class="gn" onclick="UserPoll(\'' + model[i].Number + '\',\'2 บน\',\'' + model[i].Type + '\',' + model[i].nLen + ')" data-toggle="modal" data-target="#checkPollModal" data-backdrop="static" data-keyboard="false"><td nowrap style="background:#00FF00">' + model[i].Number + ' = ' + model[i].Amount + '</td></tr>');
                }
                else {
                    $("#t2up").append('<tr class="gy" onclick="UserPoll(\'' + model[i].Number + '\',\'2 บน\',\'' + model[i].Type + '\',' + model[i].nLen + ')" data-toggle="modal" data-target="#checkPollModal" data-backdrop="static" data-keyboard="false"><td nowrap>' + model[i].Number + ' = ' + model[i].Amount + '</td></tr>');
                }
                twoup += parseInt( model[i].Amount);
            }
            else if (model[i].nLen == "3" && model[i].Type == "t") {
                if (model[i].Result == "1") {
                    $("#t3up").append('<tr class="gn" onclick="UserPoll(\'' + model[i].Number + '\',\'3 บน\',\'' + model[i].Type + '\',' + model[i].nLen + ')" data-toggle="modal" data-target="#checkPollModal" data-backdrop="static" data-keyboard="false"><td nowrap style="background:#00FF00">' + model[i].Number + ' = ' + model[i].Amount + '</td></tr>');
                }
                else {
                    $("#t3up").append('<tr class="gy" onclick="UserPoll(\'' + model[i].Number + '\',\'3 บน\',\'' + model[i].Type + '\',' + model[i].nLen + ')" data-toggle="modal" data-target="#checkPollModal" data-backdrop="static" data-keyboard="false"><td nowrap>' + model[i].Number + ' = ' + model[i].Amount + '</td></tr>');
                }
                threeup += parseInt(model[i].Amount);
            }
            else if (model[i].nLen == "3" && model[i].Type == "t_") {
                if (model[i].Result == "1") {
                    $("#t3_").append('<tr class="gn" onclick="UserPoll(\'' + model[i].Number + '\',\'3 โต๊ด\',\'' + model[i].Type + '\',' + model[i].nLen + ')" data-toggle="modal" data-target="#checkPollModal" data-backdrop="static" data-keyboard="false"><td nowrap style="background:#00FF00">' + model[i].Number + ' = ' + model[i].Amount + '</td></tr>');
                }
                else {
                    $("#t3_").append('<tr class="gy" onclick="UserPoll(\'' + model[i].Number + '\',\'3 โต๊ด\',\'' + model[i].Type + '\',' + model[i].nLen + ')" data-toggle="modal" data-target="#checkPollModal" data-backdrop="static" data-keyboard="false"><td nowrap>' + model[i].Number + ' = ' + model[i].Amount + '</td></tr>');
                }
                three_ += parseInt(model[i].Amount);
            }
            else if (model[i].nLen == "2" && model[i].Type == "t_") {
                if (model[i].Result == "1") {
                    $("#t2_").append('<tr class="gn" onclick="UserPoll(\'' + model[i].Number + '\',\'2 โต๊ด\',\'' + model[i].Type + '\',' + model[i].nLen + ')" data-toggle="modal" data-target="#checkPollModal" data-backdrop="static" data-keyboard="false"><td nowrap style="background:#00FF00">' + model[i].Number + ' = ' + model[i].Amount + '</td></tr>');
                }
                else {
                    $("#t2_").append('<tr class="gy" onclick="UserPoll(\'' + model[i].Number + '\',\'2 โต๊ด\',\'' + model[i].Type + '\',' + model[i].nLen + ')" data-toggle="modal" data-target="#checkPollModal" data-backdrop="static" data-keyboard="false"><td nowrap>' + model[i].Number + ' = ' + model[i].Amount + '</td></tr>');
                }
                two_ += parseInt(model[i].Amount);
            }
            else if (model[i].nLen == "3" && model[i].Type == "f") {
                if (model[i].Result == "1") {
                    $("#t3f").append('<tr class="gn" onclick="UserPoll(\'' + model[i].Number + '\',\'3 หน้า\',\'' + model[i].Type + '\',' + model[i].nLen + ')" data-toggle="modal" data-target="#checkPollModal" data-backdrop="static" data-keyboard="false"><td nowrap style="background:#00FF00">' + model[i].Number + ' = ' + model[i].Amount + '</td></tr>');
                }
                else {
                    $("#t3f").append('<tr class="gy" onclick="UserPoll(\'' + model[i].Number + '\',\'3 หน้า\',\'' + model[i].Type + '\',' + model[i].nLen + ')" data-toggle="modal" data-target="#checkPollModal" data-backdrop="static" data-keyboard="false"><td nowrap>' + model[i].Number + ' = ' + model[i].Amount + '</td></tr>');
                }
                fthree += parseInt(model[i].Amount);
            }
            else if (model[i].nLen == "3" && model[i].Type == "f_") {
                if (model[i].Result == "1") {
                    $("#t3f_").append('<tr class="gn" onclick="UserPoll(\'' + model[i].Number + '\',\'3 หน้าโต๊ด\',\'' + model[i].Type + '\',' + model[i].nLen + ')" data-toggle="modal" data-target="#checkPollModal" data-backdrop="static" data-keyboard="false"><td nowrap style="background:#00FF00">' + model[i].Number + ' = ' + model[i].Amount + '</td></tr>');
                }
                else {
                    $("#t3f_").append('<tr class="gy" onclick="UserPoll(\'' + model[i].Number + '\',\'3 หน้าโต๊ด\',\'' + model[i].Type + '\',' + model[i].nLen + ')" data-toggle="modal" data-target="#checkPollModal" data-backdrop="static" data-keyboard="false"><td nowrap>' + model[i].Number + ' = ' + model[i].Amount + '</td></tr>');
                }
                fthree_ += parseInt(model[i].Amount);
            }
            else if (model[i].nLen == "1" && model[i].Type == "t") {
                if (model[i].Result == "1") {
                    $("#t1up").append('<tr class="gn" onclick="UserPoll(\'' + model[i].Number + '\',\'วิ่งบน\',\'' + model[i].Type + '\',' + model[i].nLen + ')" data-toggle="modal" data-target="#checkPollModal" data-backdrop="static" data-keyboard="false"><td nowrap style="background:#00FF00">' + model[i].Number + ' = ' + model[i].Amount + '</td></tr>');
                }
                else {
                    $("#t1up").append('<tr class="gy" onclick="UserPoll(\'' + model[i].Number + '\',\'วิ่งบน\',\'' + model[i].Type + '\',' + model[i].nLen + ')" data-toggle="modal" data-target="#checkPollModal" data-backdrop="static" data-keyboard="false"><td nowrap>' + model[i].Number + ' = ' + model[i].Amount + '</td></tr>');
                }
                up += parseInt(model[i].Amount);
            }
            else if (model[i].nLen == "1" && model[i].Type == "b") {
                if (model[i].Result == "1") {
                    $("#t1down").append('<tr class="gn" onclick="UserPoll(\'' + model[i].Number + '\',\'วิ่งล่าง\',\'' + model[i].Type + '\',' + model[i].nLen + ')" data-toggle="modal" data-target="#checkPollModal" data-backdrop="static" data-keyboard="false"><td nowrap style="background:#00FF00">' + model[i].Number + ' = ' + model[i].Amount + '</td></tr>');
                }
                else {
                    $("#t1down").append('<tr class="gy" onclick="UserPoll(\'' + model[i].Number + '\',\'วิ่งล่าง\',\'' + model[i].Type + '\',' + model[i].nLen + ')" data-toggle="modal" data-target="#checkPollModal" data-backdrop="static" data-keyboard="false"><td nowrap>' + model[i].Number + ' = ' + model[i].Amount + '</td></tr>');
                }
                down += parseInt(model[i].Amount);
            }
            else if (model[i].nLen == "2" && model[i].Type == "b") {
                if (model[i].Result == "1") {
                    $("#t2down").append('<tr class="gn" onclick="UserPoll(\'' + model[i].Number + '\',\'2 ล่าง\',\'' + model[i].Type + '\',' + model[i].nLen + ')" data-toggle="modal" data-target="#checkPollModal" data-backdrop="static" data-keyboard="false"><td nowrap style="background:#00FF00">' + model[i].Number + ' = ' + model[i].Amount + '</td></tr>');
                }
                else {
                    $("#t2down").append('<tr class="gy" onclick="UserPoll(\'' + model[i].Number + '\',\'2 ล่าง\',\'' + model[i].Type + '\',' + model[i].nLen + ')" data-toggle="modal" data-target="#checkPollModal" data-backdrop="static" data-keyboard="false"><td nowrap>' + model[i].Number + ' = ' + model[i].Amount + '</td></tr>');
                }
                twodown += parseInt(model[i].Amount);
            }
            else if (model[i].nLen == "3" && model[i].Type == "b") {
                if (model[i].Result == "1") {
                    $("#t3down").append('<tr class="gn" onclick="UserPoll(\'' + model[i].Number + '\',\'3 ล่าง\',\'' + model[i].Type + '\',' + model[i].nLen + ')" data-toggle="modal" data-target="#checkPollModal" data-backdrop="static" data-keyboard="false"><td nowrap style="background:#00FF00">' + model[i].Number + ' = ' + model[i].Amount + '</td></tr>');
                }
                else {
                    $("#t3down").append('<tr class="gy" onclick="UserPoll(\'' + model[i].Number + '\',\'3 ล่าง\',\'' + model[i].Type + '\',' + model[i].nLen + ')" data-toggle="modal" data-target="#checkPollModal" data-backdrop="static" data-keyboard="false"><td nowrap>' + model[i].Number + ' = ' + model[i].Amount + '</td></tr>');
                }
                threedown += parseInt(model[i].Amount);
            }
            else {

            }
            $("#twoup").html(nwc(twoup));
            $("#threeup").html(nwc(threeup));
            $("#threedown").html(nwc(threedown));
            $("#three_").html(nwc(three_));
            $("#two_").html(nwc(two_));
            $("#fthree").html(nwc(fthree));
            $("#fthree_").html(nwc(fthree_));
            $("#up").html(nwc(up));
            $("#down").html(nwc(down));
            $("#twodown").html(nwc(twodown));
        }        
    });
</script>
