@model IList<Lotto.Models.admin_bet>
@{
    ViewBag.Title = "Buy";
    Layout = "~/Views/Shared/_Admin.cshtml";
}
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <i class="mr-2 fa fa-list-ol"></i>
                <strong class="card-title">แทงโพย</strong>
            </div>
            <div class="card-body">
                <table id="bootstrap-data-table" class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th></th>
                            <th>รหัสสมาชิก</th>
                            <th>ชื่อ</th>
                            <th>จำนวนโพย</th>
                            <th>สถานะ</th>
                            <th>หมายเหตุ</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            var status = "ใช้งาน";
                            if(item.Status=="1")
                            {
                                status = "ใช้งาน";
                            }
                            else
                            {
                                status = "ปิดใช้งาน";
                            }
                            <tr>
                                <td><button type="button" class="btn btn-primary btn-sm" data-toggle="modal" onclick="window.location.href = '@Url.Action("AdminBet", "Admin", new { id = @item.UID })';" >แทงโพย</button></td>
                                <td>@item.UID</td>
                                <td>@item.Name</td>
                                <td>@item.poll_count</td>
                                <td>@status</td>
                                <td>@item.Description</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script>
    (function ($) {
        $('#bootstrap-data-table').DataTable({
            lengthMenu: [[10, 20, 50, -1], [10, 20, 50, "All"]],
        });
    })(jQuery);
</script>
