@model IList<Lotto.Models.Close>
@using Lotto.Models
@{
    ViewBag.Title = "Close";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <i class="mr-2 fa fa-clock-o"></i>
                    <strong class="card-title">ปิดหวย</strong>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-3"></div>
                        <div class="col-md-3"></div>
                        <div class="col-md-3">
                            <button type="button" class="btn btn-block btn-primary btn-sm" data-toggle="modal" data-target="#totalBalance" data-backdrop="static" id="total" data-keyboard="false">ใบสรุปยอดเงิน</button>
                        </div>
                        <div class="col-md-3">
                            <button type="button" class="btn btn-block btn-warning btn-sm" data-toggle="modal" data-target="#totalKeep" data-backdrop="static" data-keyboard="false">ใบสรุปยอดเก็บ</button>
                        </div>
                   </div>
                    <div class="row form-group">
                        <div class="col col-md-3"><label for="text-input" class="form-control-label">งวดวันที่</label></div>
                        <div class="col-12 col-md-9"><div class="form-control-label bold">@Model[0].Date.ToString("dd/MM/yyyy") </div></div>
                    </div>
                    <div class="row form-group">
                        <div class="col col-md-3"><label for="text-input" class="form-control-label">ยอดรวม</label></div>
                        <div class="col-12 col-md-9"><div class="form-control-label bold">@Model[0].Amount</div></div>
                    </div>
                    <div class="row form-group">
                        <div class="col col-md-3"><label for="text-input" class="form-control-label">โพยที่รับแล้ว</label></div>
                        <div class="col-12 col-md-9"><div class="form-control-label bold">@Model[0].CountReceive</div></div>
                    </div>
                    <div class="row form-group">
                        <div class="col col-md-3"><label for="text-input" class="form-control-label">จำนวนผู้เล่น</label></div>
                        <div class="col-12 col-md-9"><div class="form-control-label bold">@Model[0].CountUser</div></div>
                    </div>
                    <div class="row form-group">
                        <div class="col col-md-3"><label for="text-input" class="form-control-label">เวลาปิด</label></div>
                        <div class="col-12 col-md-9"><div class="form-control-label bold">15:00:00</div></div>
                    </div>
                    <div class="row form-group">
                        <div class="col col-md-3"><label for="text-input" class="form-control-label">ปิด</label></div>
                        <div class="col-12 col-md-9"><div class="form-control-label bold">ปิดอัตโนมัติ</div></div>
                    </div>
                    <div class="row form-group">
                        <div class="col col-md-3"><label for="text-input" class="form-control-label">เวลาหวยออก</label></div>
                        <div class="col-12 col-md-9"><div class="form-control-label bold">16:00:00</div></div>
                    </div>
                    <div class="row form-group">
                        <div class="col col-md-3"><label for="text-input" class="form-control-label">พนักงานแทง</label></div>
                        <div class="col-12 col-md-9"><div class="form-control-label bold">@Model[0].BetStatus</div></div>
                    </div>
                    <div class="row form-group">
                        <div class="col col-md-3"><label for="text-input" class="form-control-label">เปิดเมื่อ</label></div>
                        <div class="col-12 col-md-9"><div class="form-control-label bold">@Model[0].CreateDate</div></div>
                    </div>
                    <div class="row form-group">
                        <div class="col col-md-3"><label for="text-input" class="form-control-label">เปิดโดย</label></div>
                        <div class="col-12 col-md-9"><div class="form-control-label bold">Admin</div></div>
                    </div>
                    <div class="row form-group">
                        <div class="col col-md-3"><label for="text-input" class="form-control-label">ปิดเมื่อ</label></div>
                        <div class="col-12 col-md-9"><div class="form-control-label bold">@Model[0].CloseDate</div></div>
                    </div>
                    <div class="row form-group">
                        <div class="col col-md-3"><label for="text-input" class="form-control-label">ปิดโดย</label></div>
                        <div class="col-12 col-md-9"><div class="form-control-label bold">@Model[0].CloseBy</div></div>
                    </div>
                    <div class="row">
                        @if (Model[0].CloseBy == "")
                        {
                            @*<div class="col-md-3">
                                <button type="button" class="btn btn-block btn-success btn-sm" data-toggle="modal" data-target="#checkModal">ตรวจเลข</button>
                            </div>*@

                            if (Model[0].BetStatus == "ปิดรับ")
                            {
                                <div class="col-md-3">
                                    <button type="button" class="btn btn-block btn-secondary btn-sm" data-status="open" data-id="@Model[0].PID" id="user_oc">เปิดรับพนักงานแทง</button>
                                </div>
                            }
                            else
                            {
                                <div class="col-md-3">
                                    <button type="button" class="btn btn-block btn-secondary btn-sm" data-status="close" data-id="@Model[0].PID" id="user_oc">ปิดรับพนักงานแทง</button>
                                </div>
                            }
                            <div class="col-md-3 offset-md-3">
                                <button type="button" class="btn btn-block btn-danger btn-sm" data-id="@Model[0].PID" id="closeLotto">ปิดหวย</button>
                            </div>
                            }
                            else
                            {
                                <div class="col-md-3">
                                    <button type="button" class="btn btn-block btn-success btn-sm" data-toggle="modal" data-target="#checkModal">ตรวจเลข</button>
                                </div>
                                if (Model[0].CheckResult == "1")
                                {
                                    <div class="col-md-3">
                                        <button type="button" class="btn btn-block btn-primary btn-sm" data-toggle="modal" data-target="#lottoOpen">เปิดหวยใหม่</button>
                                    </div>
                                }
                            }
                        </div>
                </div>
                <div class="card-footer">

                </div>
            </div>
        </div>
        <div class="col-md-6">
            @*<div class="col-md-12/">
                <div class="card">
                    <div class="card-header">
                        เลขเต็ม
                    </div>
                    <div class="card-body">
                        <form action="#" method="post" enctype="multipart/form-data" class="form-horizontal">
                            <div class="row form-group">
                                <div class="col col-md-3"><label for="text-input" class="form-control-label">วิ่ง บน</label></div>
                                <div class="col-12 col-md-9"><input type="text" id="text-input" name="text-input" class="form-control form-control-sm"></div>
                            </div>
                            <div class="row form-group">
                                <div class="col col-md-3"><label for="text-input" class="form-control-label">วิ่ง ล่าง</label></div>
                                <div class="col-12 col-md-9"><input type="text" id="text-input" name="text-input" class="form-control form-control-sm"></div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-12/">
                <div class="card">
                    <div class="card-header">
                        เลขอั้น
                    </div>
                    <div class="card-body">
                        <form action="#" method="post" enctype="multipart/form-data" class="form-horizontal">
                            <div class="row form-group">
                                <div class="col-md-12"><input type="text" id="text-input" name="text-input" placeholder="ไม่มีเลขอั้น" class="form-control"></div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>*@
        </div>
    </div>

<div class="modal fade" id="checkModal" tabindex="-1" role="dialog" aria-labelledby="checkModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="checkModalLabel">ตรวจเลข</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table class="table table-bordered" style="text-align:center;">
                    <thead>
                        <tr>
                            <th colspan="5" style="color:white;background-color:blue;">เลขที่ออก</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>3 หน้า</td>
                            <td colspan="4"><input type="text" id="ft" maxlength="3" name="text-input" class="form-control form-control-sm" onkeypress="return keyPress(this, event);"></td>
                        </tr>
                        <tr>
                            <td>3 บน</td>
                            <td colspan="4"><input type="text" id="tt" maxlength="3" name="text-input" class="form-control form-control-sm" onkeypress="return keyPress(this, event);"></td>
                        </tr>
                        <tr>
                            <td>2 ล่าง</td>
                            <td colspan="4"><input type="text" id="twob" maxlength="2" name="text-input" class="form-control form-control-sm" onkeypress="return keyPress(this, event);"></td>
                        </tr>
                        <tr>
                            <td>3 ล่าง</td>
                            <td><input type="text" id="tb1" maxlength="3" name="text-input" class="form-control form-control-sm" onkeypress="return keyPress(this, event);"></td>
                            <td><input type="text" id="tb2" maxlength="3" name="text-input" class="form-control form-control-sm" onkeypress="return keyPress(this, event);"></td>
                            <td><input type="text" id="tb3" maxlength="3" name="text-input" class="form-control form-control-sm" onkeypress="return keyPress(this, event);"></td>
                            <td><input type="text" id="tb4" maxlength="3" name="text-input" class="form-control form-control-sm" onkeypress="return keyPress(this, event);"></td>
                        </tr>
                        @*<tr style="color:white;background-color:blue;">
                                <td nowrap>อัตราจ่าย</td>
                                <td colspan="2" nowrap>ใส่ % ที่จ่าย</td>
                                <td colspan="2" nowrap>หรือราคาที่จ่าย</td>
                            </tr>
                            <tr>
                                <td>3 บน</td>
                                <td colspan="2"><input type="text" id="text-input" name="text-input" class="form-control form-control-sm"></td>
                                <td colspan="2"><input type="text" id="text-input" name="text-input" class="form-control form-control-sm"></td>
                            </tr>
                            <tr>
                                <td>3 โต๊ด</td>
                                <td colspan="2"><input type="text" id="text-input" name="text-input" class="form-control form-control-sm"></td>
                                <td colspan="2"><input type="text" id="text-input" name="text-input" class="form-control form-control-sm"></td>
                            </tr>
                            <tr>
                                <td>2 บน</td>
                                <td colspan="2"><input type="text" id="text-input" name="text-input" class="form-control form-control-sm"></td>
                                <td colspan="2"><input type="text" id="text-input" name="text-input" class="form-control form-control-sm"></td>
                            </tr>
                            <tr>
                                <td>2 โต๊ด</td>
                                <td colspan="2"><input type="text" id="text-input" name="text-input" class="form-control form-control-sm"></td>
                                <td colspan="2"><input type="text" id="text-input" name="text-input" class="form-control form-control-sm"></td>
                            </tr>
                            <tr>
                                <td>วิ่ง บน</td>
                                <td colspan="2"><input type="text" id="text-input" name="text-input" class="form-control form-control-sm"></td>
                                <td colspan="2"><input type="text" id="text-input" name="text-input" class="form-control form-control-sm"></td>
                            </tr>
                            <tr>
                                <td>3 ล่าง</td>
                                <td colspan="2"><input type="text" id="text-input" name="text-input" class="form-control form-control-sm"></td>
                                <td colspan="2"><input type="text" id="text-input" name="text-input" class="form-control form-control-sm"></td>
                            </tr>
                            <tr>
                                <td>2 ล่าง</td>
                                <td colspan="2"><input type="text" id="text-input" name="text-input" class="form-control form-control-sm"></td>
                                <td colspan="2"><input type="text" id="text-input" name="text-input" class="form-control form-control-sm"></td>
                            </tr>
                            <tr>
                                <td>วิ่ง ล่าง</td>
                                <td colspan="2"><input type="text" id="text-input" name="text-input" class="form-control form-control-sm"></td>
                                <td colspan="2"><input type="text" id="text-input" name="text-input" class="form-control form-control-sm"></td>
                            </tr>*@
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="check_result" data-dismiss="modal" data-day="@Model[0].Date" data-id="@Model[0].PID">ตรวจ</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">ยกเลิก</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="lottoOpen" tabindex="-1" role="dialog" aria-labelledby="lottoOpen" aria-hidden="true">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="checkModalLabel">เปิดหวย</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row form-group">
                            <div class="col col-md-3"><label for="text-input" class="form-control-label">ประเภท</label></div>
                            <div class="col-12 col-md-9"><div class="form-control-label bold">หวยรัฐบาล</div></div>
                        </div>
                        <div class="row form-group">
                            <div class="col col-md-3"><label for="text-input" class="form-control-label">งวดวันที่</label></div>
                            <div class="col-12 col-md-9"><input type="text" id="start_datepicker" name="text-input" class="form-control form-control-sm"></div>
                        </div>
                        <div class="row form-group">
                            <div class="col col-md-3"><label for="text-input" class="form-control-label">เวลาปิด</label></div>
                            <div class="col-12 col-md-9"><div class="form-control-label bold">15:00:00</div></div>
                        </div>
                        <div class="row form-group">
                            <div class="col col-md-3"><label for="text-input" class="form-control-label">ปิดโดย</label></div>
                            <div class="col-12 col-md-9"><div class="form-control-label bold">AUTO</div></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="openLotto">เปิด</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">ยกเลิก</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="totalBalance" tabindex="-1" role="dialog" aria-labelledby="totalBalanceLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
           <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="printBalanceArea">
                <br />
                <h4 class="center">ใบสรุปยอดเงิน งวดวันที่ @Model[0].Date.ToString("dd/MM/yyyy")</h4><hr/>
                <table class="table table-bordered" style="text-align:center;">
                    <thead style="color:white;background-color:blue;">
                        <tr>
                            <th rowspan="2">ชนิด</th>
                            <th colspan="3">ยอดทั้งหมด</th>
                            @*<th colspan="3">แทงออก</th>
                                <th colspan="3">รับไว้</th>*@
                        </tr>
                        <tr>
                            <th>ยอดแทงหัก %</th>
                            <th>ถูก</th>
                            <th>สุทธิ</th>
                            @*<th>แทงหัก %</th>
                                <th>ถูก</th>
                                <th>สุทธิ</th>
                                <th>แทงหัก %</th>
                                <th>ถูก</th>
                                <th>สุทธิ</th>*@
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            var up = 0;
                            var down = 0;
                            var fthree = 0;
                            var fthreeood = 0;
                            var threeup = 0;
                            var threeupood = 0;
                            var threedown = 0;
                            var twoup = 0;
                            var twodown = 0;
                            var twoood = 0;

                            var wup = 0;
                            var wdown = 0;
                            var wfthree = 0;
                            var wfthreeood = 0;
                            var wthreeup = 0;
                            var wthreeupood = 0;
                            var wthreedown = 0;
                            var wtwoup = 0;
                            var wtwodown = 0;
                            var wtwoood = 0;

                            var tup = 0;
                            var tdown = 0;
                            var tfthree = 0;
                            var tfthreeood = 0;
                            var tthreeup = 0;
                            var tthreeupood = 0;
                            var tthreedown = 0;
                            var ttwoup = 0;
                            var ttwodown = 0;
                            var ttwoood = 0;

                            var totaldis = 0;
                            var toralwin = 0;
                            var total = 0;
                        }
                        @foreach (var item in (List<Total_Amount_Result>)ViewData["TAR"])
                        {
                            if (item.Type == "Up")
                            {
                                up =Int32.Parse(item.Amount_Discount);
                                wup = Int32.Parse(item.Amount_Win);
                                tup = up - wup;
                                totaldis = totaldis+ Int32.Parse(item.Amount_Discount);
                                toralwin= toralwin + Int32.Parse(item.Amount_Win);
                            }
                            else if (item.Type == "Down")
                            {
                                down = Int32.Parse(item.Amount_Discount);
                                wdown = Int32.Parse(item.Amount_Win);
                                tdown = down - wdown;
                                totaldis = totaldis + Int32.Parse(item.Amount_Discount);
                                toralwin = toralwin + Int32.Parse(item.Amount_Win);
                            }
                            else if (item.Type == "FirstThree")
                            {
                                fthree = Int32.Parse(item.Amount_Discount);
                                wfthree = Int32.Parse(item.Amount_Win);
                                tfthree = fthree - wfthree;
                                totaldis = totaldis + Int32.Parse(item.Amount_Discount);
                                toralwin = toralwin + Int32.Parse(item.Amount_Win);
                            }
                            else if (item.Type == "FirstThreeOod")
                            {
                                fthreeood = Int32.Parse(item.Amount_Discount);
                                wfthreeood = Int32.Parse(item.Amount_Win);
                                tfthreeood = fthreeood - wfthreeood;
                                totaldis = totaldis + Int32.Parse(item.Amount_Discount);
                                toralwin = toralwin + Int32.Parse(item.Amount_Win);
                            }
                            else if (item.Type == "ThreeUp")
                            {
                                threeup = Int32.Parse(item.Amount_Discount);
                                wthreeup = Int32.Parse(item.Amount_Win);
                                tthreeup = threeup - wthreeup;
                                totaldis = totaldis + Int32.Parse(item.Amount_Discount);
                                toralwin = toralwin + Int32.Parse(item.Amount_Win);
                            }
                            else if (item.Type == "ThreeUPOod")
                            {
                                threeupood = Int32.Parse(item.Amount_Discount);
                                wthreeupood = Int32.Parse(item.Amount_Win);
                                tthreeupood = threeupood - wthreeupood;
                                totaldis = totaldis + Int32.Parse(item.Amount_Discount);
                                toralwin = toralwin + Int32.Parse(item.Amount_Win);
                            }
                            else if (item.Type == "ThreeDown")
                            {
                                threedown = Int32.Parse(item.Amount_Discount);
                                wthreedown = Int32.Parse(item.Amount_Win);
                                tthreedown = threedown - wthreedown;
                                totaldis = totaldis + Int32.Parse(item.Amount_Discount);
                                toralwin = toralwin + Int32.Parse(item.Amount_Win);
                            }
                            else if (item.Type == "TwoUp")
                            {
                                twoup = Int32.Parse(item.Amount_Discount);
                                wtwoup = Int32.Parse(item.Amount_Win);
                                ttwoup = twoup - wtwoup;
                                totaldis = totaldis + Int32.Parse(item.Amount_Discount);
                                toralwin = toralwin + Int32.Parse(item.Amount_Win);
                            }
                            else if (item.Type == "TwoDown")
                            {
                                twodown = Int32.Parse(item.Amount_Discount);
                                wtwodown = Int32.Parse(item.Amount_Win);
                                ttwodown = twodown - wtwodown;
                                totaldis = totaldis + Int32.Parse(item.Amount_Discount);
                                toralwin = toralwin + Int32.Parse(item.Amount_Win);
                            }
                            else if (item.Type == "TwoOod")
                            {
                                twoood = Int32.Parse(item.Amount_Discount);
                                wtwoood = Int32.Parse(item.Amount_Win);
                                ttwoood = twoood - wtwoood;
                                totaldis = totaldis + Int32.Parse(item.Amount_Discount);
                                toralwin = toralwin + Int32.Parse(item.Amount_Win);
                            }
                            else { }
                        }
                        <tr>
                            <td>วิ่ง บน</td>
                            <td id="udis">@up</td>
                            <td id="uwin">@wup</td>
                            <td id="utotal">@tup</td>
                        </tr>
                        <tr>
                            <td>วื่ง ล่าง</td>
                            <td id="ddis">@down</td>
                            <td id="dwin">@wdown</td>
                            <td id="dtotal">@tdown</td>
                        </tr>
                        <tr>
                            <td>3 หน้า</td>
                            <td id="f3dis">@fthree</td>
                            <td id="f3win">@wfthree</td>
                            <td id="f3total">@tfthree</td>
                        </tr>
                        <tr>
                            <td>3 หน้าโต๊ด</td>
                            <td id="f3odis">@fthreeood</td>
                            <td id="f3owin">@wfthreeood</td>
                            <td id="f3ototal">@tfthreeood</td>
                        </tr>
                        <tr>
                            <td>3 บน</td>
                            <td id="u3dis">@threeup</td>
                            <td id="u3win">@wthreeup</td>
                            <td id="u3total">@tthreeup</td>
                        </tr>
                        <tr>
                            <td>3 โต๊ด</td>
                            <td id="u3odis">@threeupood</td>
                            <td id="u3owin">@wthreeupood</td>
                            <td id="u3ototal">@tthreeupood</td>
                        </tr>
                        <tr>
                            <td>3 ล่าง</td>
                            <td id="d3dis">@threedown</td>
                            <td id="d3win">@wthreedown</td>
                            <td id="d3total">@tthreedown</td>
                        </tr>
                        <tr>
                            <td>2 บน</td>
                            <td id="u2dis">@twoup</td>
                            <td id="u2win">@wtwoup</td>
                            <td id="u2total">@ttwoup</td>
                        </tr>
                        <tr>
                            <td>2 ล่าง</td>
                            <td id="d2dis">@twodown</td>
                            <td id="d2win">@wtwodown</td>
                            <td id="d2total">@ttwodown</td>
                        </tr>
                        <tr>
                            <td>2 โต๊ด</td>
                            <td id="o2dis">@twoood</td>
                            <td id="o2win">@wtwoood</td>
                            <td id="o2total">@ttwoood</td>
                        </tr>
                    </tbody>
                    <tfoot style="color:white;background-color:blue;">
                        <tr>
                            <td>รวม</td>
                            <td id="tdis">@totaldis</td>
                            <td id="twin">@toralwin</td>
                            <td id="ttotal">@(totaldis - toralwin)</td>
                        </tr>
                    </tfoot>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="printBalance">พิมพ์</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">ปิด</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="totalKeep" tabindex="-1" role="dialog" aria-labelledby="totalKeepLabel" aria-hidden="true">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
           <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="printKeepArea">
                <br />
                <h4 class="center">ใบสรุปยอดเก็บ งวดวันที่ @Model[0].Date.ToString("dd/MM/yyyy")</h4><hr />
                @{
                    var sum = 0;
                    var sumw = 0;
                    var countu = 0;
                }
                @foreach (var item in (List<User_Bet_Result>)ViewData["UBET"])
                {
                    sum = sum + Int32.Parse(item.Discount);
                    sumw= sumw+ Int32.Parse(item.Win);
                    countu += 1;
                }
                <div class="row">
                    <div class="col-md-3">
                        หวยรัฐบาล
                    </div>
                    <div class="col-md-1">
                        -
                    </div>
                    <div class="col-md-2">
                        @sum
                    </div>
                    <div class="col-md-1">
                        -
                    </div>
                    <div class="col-md-2">
                        @countu
                    </div>
                    <div class="col-md-1">
                        -
                    </div>
                    <div class="col-md-2">
                        คน
                    </div>
                    <div class="col-md-12">
                        <hr />
                        <table class="table table-bordered" style="text-align:center;">
                            <thead style="color:white;background-color:blue;">
                                <tr>
                                    <th>ยอดเก็บ</th>
                                    <th>ยอดจ่าย</th>
                                    <th>หมายเลข - ชื่อ</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in (List<User_Bet_Result>)ViewData["UBET"])
                                {
                                    <tr>
                                        <td>@item.Discount</td>
                                        <td>@item.Win</td>
                                        <td>@item.Name</td>
                                    </tr>
                                }
                            </tbody>
                            <tfoot style="color:white;background-color:blue;">
                                <tr>
                                    <td>@sum</td>
                                    <td>@sumw</td>
                                    <td>@(sum- sumw)</td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="printKeep">พิมพ์</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">ปิด</button>
            </div>
        </div>
    </div>
</div>
<script src="~/Assets/js/close.js"></script>
<script>
    addPeroid = '@Url.Action("addPeroid", "Admin")';
    betStatus = '@Url.Action("UpdateBetStatus", "Admin")';
    closeLotto = '@Url.Action("CloseLotto", "Admin")';
    CheckResult= '@Url.Action("CheckResult", "Admin")';
    (function ($) {

    })(jQuery);

    $('#printBalance').click(function () {

          var printContents = document.getElementById('printBalanceArea');

          var newWin = window.open('','Print-Window');

          newWin.document.open();

          newWin.document.write('<html><head><link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css"></head><body onload="window.print()">'+printContents.innerHTML+'</body></html>');

          newWin.document.close();

          setTimeout(function(){newWin.close();},10);
    });

     $('#printKeep').click(function () {
        var printContents = document.getElementById('printKeepArea');

          var newWin = window.open('','Print-Window');

          newWin.document.open();

          newWin.document.write('<html><head><link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css"></head><body onload="window.print()">'+printContents.innerHTML+'</body></html>');

          newWin.document.close();

          setTimeout(function(){newWin.close();},10);
    });

</script>

