@model IList<Lotto.Models.Close>
@using Lotto.Models
@{
    ViewBag.Title = "Close";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <i class="mr-2 fa fa-clock-o"></i>
                    <strong class="card-title">ปิดหวย</strong>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-3"></div>
                        <div class="col-md-3"></div>
                        <div class="col-md-3">
                            <button type="button" class="btn btn-block primary btn-sm" data-toggle="modal" data-target="#totalBalance" data-backdrop="static" id="total" data-keyboard="false">ใบสรุปยอดเงิน</button>
                        </div>
                        <div class="col-md-3">
                            <button type="button" class="btn btn-block warning btn-sm" data-toggle="modal" data-target="#totalKeep" data-backdrop="static" data-keyboard="false">ใบสรุปยอดเก็บ</button>
                        </div>
                   </div>
                    <div class="row form-group">
                        <div class="col col-md-3"><label for="text-input" class="form-control-label">งวดวันที่</label></div>
                        <div class="col-12 col-md-9"><div class="form-control-label bold">@Model[0].Date.ToString("dd/MM/yyyy") </div></div>
                    </div>
                    <div class="row form-group">
                        <div class="col col-md-3"><label for="text-input" class="form-control-label">ยอดรวม</label></div>
                        <div class="col-12 col-md-9"><div class="form-control-label bold">@String.Format("{0:n}", Double.Parse(Model[0].Amount))</div></div>
                    </div>
                    <div class="row form-group">
                        <div class="col col-md-3"><label for="text-input" class="form-control-label">โพยที่รับแล้ว</label></div>
                        <div class="col-12 col-md-9"><div class="form-control-label bold">@Model[0].CountReceive</div></div>
                    </div>
                    <div class="row form-group">
                        <div class="col col-md-3"><label for="text-input" class="form-control-label">จำนวนผู้เล่น</label></div>
                        <div class="col-12 col-md-9"><div class="form-control-label bold">@Model[0].CountUser</div></div>
                    </div>
                    <div class="row form-group">
                        <div class="col col-md-3"><label for="text-input" class="form-control-label">เวลาปิด</label></div>
                        <div class="col-12 col-md-9"><div class="form-control-label bold">15:00:00</div></div>
                    </div>
                    <div class="row form-group">
                        <div class="col col-md-3"><label for="text-input" class="form-control-label">ปิด</label></div>
                        <div class="col-12 col-md-9"><div class="form-control-label bold">ปิดอัตโนมัติ</div></div>
                    </div>
                    <div class="row form-group">
                        <div class="col col-md-3"><label for="text-input" class="form-control-label">เวลาหวยออก</label></div>
                        <div class="col-12 col-md-9"><div class="form-control-label bold">16:00:00</div></div>
                    </div>
                    <div class="row form-group">
                        <div class="col col-md-3"><label for="text-input" class="form-control-label">พนักงานแทง</label></div>
                        <div class="col-12 col-md-9"><div class="form-control-label bold">@Model[0].BetStatus</div></div>
                    </div>
                    <div class="row form-group">
                        <div class="col col-md-3"><label for="text-input" class="form-control-label">เปิดเมื่อ</label></div>
                        <div class="col-12 col-md-9"><div class="form-control-label bold">@Model[0].CreateDate</div></div>
                    </div>
                    <div class="row form-group">
                        <div class="col col-md-3"><label for="text-input" class="form-control-label">เปิดโดย</label></div>
                        <div class="col-12 col-md-9"><div class="form-control-label bold">Admin</div></div>
                    </div>
                    <div class="row form-group">
                        <div class="col col-md-3"><label for="text-input" class="form-control-label">ปิดเมื่อ</label></div>
                        <div class="col-12 col-md-9"><div class="form-control-label bold">@Model[0].CloseDate</div></div>
                    </div>
                    <div class="row form-group">
                        <div class="col col-md-3"><label for="text-input" class="form-control-label">ปิดโดย</label></div>
                        <div class="col-12 col-md-9"><div class="form-control-label bold">@Model[0].CloseBy</div></div>
                    </div>
                    <div class="row">
                        @if (Model[0].CloseBy == "")
                        {
                            @*<div class="col-md-3">
                                <button type="button" class="btn btn-block btn-success btn-sm" data-toggle="modal" data-target="#checkModal">ตรวจเลข</button>
                            </div>*@

                            if (Model[0].BetStatus == "ปิดรับ")
                            {
                                <div class="col-md-3">
                                    <button type="button" class="btn btn-block btn-secondary btn-sm" data-status="open" data-id="@Model[0].PID" id="user_oc">เปิดรับพนักงานแทง</button>
                                </div>
                            }
                            else
                            {
                                <div class="col-md-3">
                                    <button type="button" class="btn btn-block btn-secondary btn-sm" data-status="close" data-id="@Model[0].PID" id="user_oc">ปิดรับพนักงานแทง</button>
                                </div>
                            }
                            <div class="col-md-3 offset-md-3">
                                <button type="button" class="btn btn-block btn-danger btn-sm" data-id="@Model[0].PID" id="closeLotto">ปิดหวย</button>
                            </div>
                            }
                            else
                            {
                                <div class="col-md-3">
                                    <button type="button" class="btn btn-block btn-success btn-sm" data-toggle="modal" data-target="#checkModal">ตรวจเลข</button>
                                </div>
                                if (Model[0].CheckResult == "1")
                                {
                                    <div class="col-md-3">
                                        <button type="button" class="btn btn-block btn-primary btn-sm" data-toggle="modal" data-target="#lottoOpen">เปิดหวยใหม่</button>
                                    </div>
                                }
                            }
                        </div>
                </div>
                <div class="card-footer">

                </div>
            </div>
        </div>
        <div class="col-md-6">
            @*<div class="col-md-12/">
                <div class="card">
                    <div class="card-header">
                        เลขเต็ม
                    </div>
                    <div class="card-body">
                        <form action="#" method="post" enctype="multipart/form-data" class="form-horizontal">
                            <div class="row form-group">
                                <div class="col col-md-3"><label for="text-input" class="form-control-label">วิ่ง บน</label></div>
                                <div class="col-12 col-md-9"><input type="text" id="text-input" name="text-input" class="form-control form-control-sm"></div>
                            </div>
                            <div class="row form-group">
                                <div class="col col-md-3"><label for="text-input" class="form-control-label">วิ่ง ล่าง</label></div>
                                <div class="col-12 col-md-9"><input type="text" id="text-input" name="text-input" class="form-control form-control-sm"></div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-12/">
                <div class="card">
                    <div class="card-header">
                        เลขอั้น
                    </div>
                    <div class="card-body">
                        <form action="#" method="post" enctype="multipart/form-data" class="form-horizontal">
                            <div class="row form-group">
                                <div class="col-md-12"><input type="text" id="text-input" name="text-input" placeholder="ไม่มีเลขอั้น" class="form-control"></div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>*@
        </div>
    </div>

<div class="modal fade" id="checkModal" tabindex="-1" role="dialog" aria-labelledby="checkModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="checkModalLabel">ตรวจเลข</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table class="table table-bordered" style="text-align:center;">
                    <thead>
                        <tr>
                            <th colspan="5" style="color:white;background-color:blue;">เลขที่ออก</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>3 หน้า</td>
                            <td colspan="4"><input type="text" id="ft" maxlength="3" name="text-input" class="form-control form-control-sm" onkeypress="return keyPress(this, event);"></td>
                        </tr>
                        <tr>
                            <td>3 บน</td>
                            <td colspan="4"><input type="text" id="tt" maxlength="3" name="text-input" class="form-control form-control-sm" onkeypress="return keyPress(this, event);"></td>
                        </tr>
                        <tr>
                            <td>2 ล่าง</td>
                            <td colspan="4"><input type="text" id="twob" maxlength="2" name="text-input" class="form-control form-control-sm" onkeypress="return keyPress(this, event);"></td>
                        </tr>
                        <tr>
                            <td>3 ล่าง</td>
                            <td><input type="text" id="tb1" maxlength="3" name="text-input" class="form-control form-control-sm" onkeypress="return keyPress(this, event);"></td>
                            <td><input type="text" id="tb2" maxlength="3" name="text-input" class="form-control form-control-sm" onkeypress="return keyPress(this, event);"></td>
                            <td><input type="text" id="tb3" maxlength="3" name="text-input" class="form-control form-control-sm" onkeypress="return keyPress(this, event);"></td>
                            <td><input type="text" id="tb4" maxlength="3" name="text-input" class="form-control form-control-sm" onkeypress="return keyPress(this, event);"></td>
                        </tr>
                        @*<tr style="color:white;background-color:blue;">
                                <td nowrap>อัตราจ่าย</td>
                                <td colspan="2" nowrap>ใส่ % ที่จ่าย</td>
                                <td colspan="2" nowrap>หรือราคาที่จ่าย</td>
                            </tr>
                            <tr>
                                <td>3 บน</td>
                                <td colspan="2"><input type="text" id="text-input" name="text-input" class="form-control form-control-sm"></td>
                                <td colspan="2"><input type="text" id="text-input" name="text-input" class="form-control form-control-sm"></td>
                            </tr>
                            <tr>
                                <td>3 โต๊ด</td>
                                <td colspan="2"><input type="text" id="text-input" name="text-input" class="form-control form-control-sm"></td>
                                <td colspan="2"><input type="text" id="text-input" name="text-input" class="form-control form-control-sm"></td>
                            </tr>
                            <tr>
                                <td>2 บน</td>
                                <td colspan="2"><input type="text" id="text-input" name="text-input" class="form-control form-control-sm"></td>
                                <td colspan="2"><input type="text" id="text-input" name="text-input" class="form-control form-control-sm"></td>
                            </tr>
                            <tr>
                                <td>2 โต๊ด</td>
                                <td colspan="2"><input type="text" id="text-input" name="text-input" class="form-control form-control-sm"></td>
                                <td colspan="2"><input type="text" id="text-input" name="text-input" class="form-control form-control-sm"></td>
                            </tr>
                            <tr>
                                <td>วิ่ง บน</td>
                                <td colspan="2"><input type="text" id="text-input" name="text-input" class="form-control form-control-sm"></td>
                                <td colspan="2"><input type="text" id="text-input" name="text-input" class="form-control form-control-sm"></td>
                            </tr>
                            <tr>
                                <td>3 ล่าง</td>
                                <td colspan="2"><input type="text" id="text-input" name="text-input" class="form-control form-control-sm"></td>
                                <td colspan="2"><input type="text" id="text-input" name="text-input" class="form-control form-control-sm"></td>
                            </tr>
                            <tr>
                                <td>2 ล่าง</td>
                                <td colspan="2"><input type="text" id="text-input" name="text-input" class="form-control form-control-sm"></td>
                                <td colspan="2"><input type="text" id="text-input" name="text-input" class="form-control form-control-sm"></td>
                            </tr>
                            <tr>
                                <td>วิ่ง ล่าง</td>
                                <td colspan="2"><input type="text" id="text-input" name="text-input" class="form-control form-control-sm"></td>
                                <td colspan="2"><input type="text" id="text-input" name="text-input" class="form-control form-control-sm"></td>
                            </tr>*@
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="check_result" data-dismiss="modal" data-day="@Model[0].Date" data-id="@Model[0].PID">ตรวจ</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">ยกเลิก</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="lottoOpen" tabindex="-1" role="dialog" aria-labelledby="lottoOpen" aria-hidden="true">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="checkModalLabel">เปิดหวย</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row form-group">
                            <div class="col col-md-3"><label for="text-input" class="form-control-label">ประเภท</label></div>
                            <div class="col-12 col-md-9"><div class="form-control-label bold">หวยรัฐบาล</div></div>
                        </div>
                        <div class="row form-group">
                            <div class="col col-md-3"><label for="text-input" class="form-control-label">งวดวันที่</label></div>
                            <div class="col-12 col-md-9"><input type="text" id="start_datepicker" name="text-input" class="form-control form-control-sm"></div>
                        </div>
                        <div class="row form-group">
                            <div class="col col-md-3"><label for="text-input" class="form-control-label">เวลาปิด</label></div>
                            <div class="col-12 col-md-9"><div class="form-control-label bold">15:00:00</div></div>
                        </div>
                        <div class="row form-group">
                            <div class="col col-md-3"><label for="text-input" class="form-control-label">ปิดโดย</label></div>
                            <div class="col-12 col-md-9"><div class="form-control-label bold">AUTO</div></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="openLotto">เปิด</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">ยกเลิก</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="totalBalance" tabindex="-1" role="dialog" aria-labelledby="totalBalanceLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document" style="max-width:90% !important;">
        <div class="modal-content">
           <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="printBalanceArea">
                <br />
                <h4><center>ใบสรุปยอดเงิน งวดวันที่ @Model[0].Date.ToString("dd/MM/yyyy")</center></h4><br/>
                <table class="table table-bordered" style="text-align:center;">
                    <thead>
                        <tr>
                            <th rowspan="2" class="bg-warning-5" style="vertical-align : middle;text-align:center;">ชนิด</th>
                            <th colspan="3" class="bg-success">รับไว้</th>
                            <th colspan="3" class="bg-danger">แทงออก</th>
                            <th colspan="3" class="bg-info">ยอดทั้งหมด</th>
                        </tr>
                        <tr>
                            <th class="bg-success-5">แทงหัก %</th>
                            <th class="bg-success-5">ถูก</th>
                            <th class="bg-success-5">สุทธิ</th>
                            <th class="bg-danger-5">แทงหัก %</th>
                            <th class="bg-danger-5">ถูก</th>
                            <th class="bg-danger-5">สุทธิ</th>
                            <th class="bg-info-5">แทงหัก %</th>
                            <th class="bg-info-5">ถูก</th>
                            <th class="bg-info-5">สุทธิ</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            var up = 0.00;
                            var down = 0.00;
                            var fthree = 0.00;
                            var fthreeood = 0.00;
                            var threeup = 0.00;
                            var threeupood = 0.00;
                            var threedown = 0.00;
                            var twoup = 0.00;
                            var twodown = 0.00;
                            var twoood = 0.00;

                            var wup = 0;
                            var wdown = 0;
                            var wfthree = 0;
                            var wfthreeood = 0;
                            var wthreeup = 0;
                            var wthreeupood = 0;
                            var wthreedown = 0;
                            var wtwoup = 0;
                            var wtwodown = 0;
                            var wtwoood = 0;

                            var tup = 0;
                            var tdown = 0;
                            var tfthree = 0;
                            var tfthreeood = 0;
                            var tthreeup = 0;
                            var tthreeupood = 0;
                            var tthreedown = 0;
                            var ttwoup = 0;
                            var ttwodown = 0;
                            var ttwoood = 0;

                            var totaldis = 0;
                            var toralwin = 0;
                            //var total = 0;

                            var oup = 0.00;
                            var odown = 0.00;
                            var ofthree = 0.00;
                            var ofthreeood = 0.00;
                            var othreeup = 0.00;
                            var othreeupood = 0.00;
                            var othreedown = 0.00;
                            var otwoup = 0.00;
                            var otwodown = 0.00;
                            var otwoood = 0.00;

                            var owup = 0;
                            var owdown = 0;
                            var owfthree = 0;
                            var owfthreeood = 0;
                            var owthreeup = 0;
                            var owthreeupood = 0;
                            var owthreedown = 0;
                            var owtwoup = 0;
                            var owtwodown = 0;
                            var owtwoood = 0;

                            var otup = 0;
                            var otdown = 0;
                            var otfthree = 0;
                            var otfthreeood = 0;
                            var otthreeup = 0;
                            var otthreeupood = 0;
                            var otthreedown = 0;
                            var ottwoup = 0;
                            var ottwodown = 0;
                            var ottwoood = 0;

                            var ototaldis = 0;
                            var otoralwin = 0;
                        }
                        @foreach (var item in (List<PollOutDetail>)ViewData["Receive"])
                        {
                            if (item.Type == "t" && item.NumLen == "1")
                            {
                                up = float.Parse(item.AmountDiscount);
                                wup = Int32.Parse(item.AmountWin);
                                tup = Convert.ToInt32(up) - wup;
                                totaldis = totaldis + Convert.ToInt32(up);
                                toralwin = toralwin + Int32.Parse(item.AmountWin);
                            }
                            else if (item.Type == "b" && item.NumLen == "1")
                            {
                                down = float.Parse(item.AmountDiscount);
                                wdown = Int32.Parse(item.AmountWin);
                                tdown = Convert.ToInt32(down) - wdown;
                                totaldis = totaldis + Convert.ToInt32(down);
                                toralwin = toralwin + Int32.Parse(item.AmountWin);
                            }
                            else if (item.Type == "f" && item.NumLen == "3")
                            {
                                fthree = float.Parse(item.AmountDiscount);
                                wfthree = Int32.Parse(item.AmountWin);
                                tfthree = Convert.ToInt32(fthree) - wfthree;
                                totaldis = totaldis + Convert.ToInt32(fthree);
                                toralwin = toralwin + Int32.Parse(item.AmountWin);
                            }
                            else if (item.Type == "f_" && item.NumLen == "3")
                            {
                                fthreeood = float.Parse(item.AmountDiscount);
                                wfthreeood = Int32.Parse(item.AmountWin);
                                tfthreeood = Convert.ToInt32(fthreeood) - wfthreeood;
                                totaldis = totaldis + Convert.ToInt32(fthreeood);
                                toralwin = toralwin + Int32.Parse(item.AmountWin);
                            }
                            else if (item.Type == "t" && item.NumLen == "3")
                            {
                                threeup = float.Parse(item.AmountDiscount);
                                wthreeup = Int32.Parse(item.AmountWin);
                                tthreeup = Convert.ToInt32(threeup) - wthreeup;
                                totaldis = totaldis + Convert.ToInt32(threeup);
                                toralwin = toralwin + Int32.Parse(item.AmountWin);
                            }
                            else if (item.Type == "t_" && item.NumLen == "3")
                            {
                                threeupood = float.Parse(item.AmountDiscount);
                                wthreeupood = Int32.Parse(item.AmountWin);
                                tthreeupood = Convert.ToInt32(threeupood) - wthreeupood;
                                totaldis = totaldis + Convert.ToInt32(threeupood);
                                toralwin = toralwin + Int32.Parse(item.AmountWin);
                            }
                            else if (item.Type == "b" && item.NumLen == "3")
                            {
                                threedown = float.Parse(item.AmountDiscount);
                                wthreedown = Int32.Parse(item.AmountWin);
                                tthreedown = Convert.ToInt32(threedown) - wthreedown;
                                totaldis = totaldis + Convert.ToInt32(threedown);
                                toralwin = toralwin + Int32.Parse(item.AmountWin);
                            }
                            else if (item.Type == "t" && item.NumLen == "2")
                            {
                                twoup = float.Parse(item.AmountDiscount);
                                wtwoup = Int32.Parse(item.AmountWin);
                                ttwoup = Convert.ToInt32(twoup) - wtwoup;
                                totaldis = totaldis + Convert.ToInt32(twoup);
                                toralwin = toralwin + Int32.Parse(item.AmountWin);
                            }
                            else if (item.Type == "b" && item.NumLen == "2")
                            {
                                twodown = float.Parse(item.AmountDiscount);
                                wtwodown = Int32.Parse(item.AmountWin);
                                ttwodown = Convert.ToInt32(twodown) - wtwodown;
                                totaldis = totaldis + Convert.ToInt32(twodown);
                                toralwin = toralwin + Int32.Parse(item.AmountWin);
                            }
                            else if (item.Type == "t_" && item.NumLen == "2")
                            {
                                twoood = float.Parse(item.AmountDiscount);
                                wtwoood = Int32.Parse(item.AmountWin);
                                ttwoood = Convert.ToInt32(twoood) - wtwoood;
                                totaldis = totaldis + Convert.ToInt32(twoood);
                                toralwin = toralwin + Int32.Parse(item.AmountWin);
                            }
                            else { }
                        }
                        @foreach (var item in (List<PollOutDetail>)ViewData["BOut"])
                        {
                            if (item.Type == "t" && item.NumLen=="1")
                            {
                                oup = float.Parse(item.AmountDiscount);
                                owup = Int32.Parse(item.AmountWin);
                                otup = Convert.ToInt32(oup)- owup;
                                ototaldis = ototaldis + Convert.ToInt32(oup);
                                otoralwin = otoralwin + Int32.Parse(item.AmountWin);
                            }
                            else if (item.Type == "b" && item.NumLen == "1")
                            {
                                odown = float.Parse(item.AmountDiscount);
                                owdown = Int32.Parse(item.AmountWin);
                                otdown = Convert.ToInt32(odown)- owdown;
                                ototaldis = ototaldis + Convert.ToInt32(odown);
                                otoralwin = otoralwin + Int32.Parse(item.AmountWin);
                            }
                            else if (item.Type == "f" && item.NumLen == "3")
                            {
                                ofthree = float.Parse(item.AmountDiscount);
                                owfthree = Int32.Parse(item.AmountWin);
                                otfthree = Convert.ToInt32(ofthree)- owfthree;
                                ototaldis = ototaldis + Convert.ToInt32(ofthree);
                                otoralwin = otoralwin + Int32.Parse(item.AmountWin);
                            }
                            else if (item.Type == "f_" && item.NumLen == "3")
                            {
                                ofthreeood = float.Parse(item.AmountDiscount);
                                owfthreeood = Int32.Parse(item.AmountWin);
                                otfthreeood = Convert.ToInt32(ofthreeood)- owfthreeood;
                                ototaldis = ototaldis + Convert.ToInt32(ofthreeood);
                                otoralwin = otoralwin + Int32.Parse(item.AmountWin);
                            }
                            else if (item.Type == "t" && item.NumLen == "3")
                            {
                                othreeup = float.Parse(item.AmountDiscount);
                                owthreeup = Int32.Parse(item.AmountWin);
                                otthreeup = Convert.ToInt32(othreeup)-owthreeup;
                                ototaldis = ototaldis + Convert.ToInt32(othreeup);
                                otoralwin = otoralwin + Int32.Parse(item.AmountWin);
                            }
                            else if (item.Type == "t_" && item.NumLen == "3")
                            {
                                othreeupood = float.Parse(item.AmountDiscount);
                                owthreeupood = Int32.Parse(item.AmountWin);
                                otthreeupood = Convert.ToInt32(othreeupood)- owthreeupood;
                                ototaldis = ototaldis + Convert.ToInt32(othreeupood);
                                otoralwin = otoralwin + Int32.Parse(item.AmountWin);
                            }
                            else if (item.Type == "b" && item.NumLen == "3")
                            {
                                othreedown = float.Parse(item.AmountDiscount);
                                owthreedown = Int32.Parse(item.AmountWin);
                                otthreedown = Convert.ToInt32(othreedown)- owthreedown;
                                ototaldis = ototaldis + Convert.ToInt32(othreedown);
                                otoralwin = otoralwin + Int32.Parse(item.AmountWin);
                            }
                            else if (item.Type == "t" && item.NumLen == "2")
                            {
                                otwoup = float.Parse(item.AmountDiscount);
                                owtwoup = Int32.Parse(item.AmountWin);
                                ottwoup = Convert.ToInt32(otwoup)- owtwoup;
                                ototaldis = ototaldis + Convert.ToInt32(otwoup);
                                otoralwin = otoralwin + Int32.Parse(item.AmountWin);
                            }
                            else if (item.Type == "b" && item.NumLen == "2")
                            {
                                otwodown = float.Parse(item.AmountDiscount);
                                owtwodown = Int32.Parse(item.AmountWin);
                                ottwodown = Convert.ToInt32(otwodown)- owtwodown;
                                ototaldis = ototaldis + Convert.ToInt32(otwodown);
                                otoralwin = otoralwin + Int32.Parse(item.AmountWin);
                            }
                            else if (item.Type == "t_" && item.NumLen == "2")
                            {
                                otwoood = float.Parse(item.AmountDiscount);
                                owtwoood = Int32.Parse(item.AmountWin);
                                ottwoood = Convert.ToInt32(otwoood)- owtwoood;
                                ototaldis = ototaldis + Convert.ToInt32(otwoood);
                                otoralwin = otoralwin + Int32.Parse(item.AmountWin);
                            }
                            else { }
                        }
                        <tr>
                            <td>วิ่ง บน</td>
                            <td style="color: green;">@String.Format("{0:n}", Convert.ToInt32(up))</td>
                            <td style="color: green;">@String.Format("{0:n}", wup)</td>
                            <td style="color: green;">@String.Format("{0:n}", tup)</td>
                            <td style="color: red;">@String.Format("{0:n}", Convert.ToInt32(oup))</td>
                            <td style="color: red;">@String.Format("{0:n}", owup)</td>
                            <td style="color: red;">@String.Format("{0:n}", otup)</td>
                            <td style="color: blue;">@String.Format("{0:n}", Convert.ToInt32(up)+ Convert.ToInt32(oup))</td>
                            <td style="color: blue;">@String.Format("{0:n}", wup+ owup)</td>
                            <td style="color: blue;">@String.Format("{0:n}", tup+ otup)</td>
                        </tr>
                        <tr>
                            <td>วื่ง ล่าง</td>
                            <td style="color: green;">@String.Format("{0:n}", Convert.ToInt32(down))</td>
                            <td style="color: green;">@String.Format("{0:n}", wdown)</td>
                            <td style="color: green;">@String.Format("{0:n}", tdown)</td>
                            <td style="color: red;">@String.Format("{0:n}", Convert.ToInt32(odown))</td>
                            <td style="color: red;">@String.Format("{0:n}", owdown)</td>
                            <td style="color: red;">@String.Format("{0:n}", otdown)</td>
                            <td style="color: blue;">@String.Format("{0:n}", Convert.ToInt32(down)+ Convert.ToInt32(odown))</td>
                            <td style="color: blue;">@String.Format("{0:n}", wdown+ owdown)</td>
                            <td style="color: blue;">@String.Format("{0:n}", tdown+ otdown)</td>
                        </tr>
                        <tr>
                            <td>3 หน้า</td>
                            <td style="color: green;">@String.Format("{0:n}", Convert.ToInt32(fthree))</td>
                            <td style="color: green;">@String.Format("{0:n}", wfthree)</td>
                            <td style="color: green;">@String.Format("{0:n}", tfthree)</td>
                            <td style="color: red;">@String.Format("{0:n}", Convert.ToInt32(ofthree))</td>
                            <td style="color: red;">@String.Format("{0:n}", owfthree)</td>
                            <td style="color: red;">@String.Format("{0:n}", otfthree)</td>
                            <td style="color: blue;">@String.Format("{0:n}", Convert.ToInt32(fthree)+ Convert.ToInt32(ofthree))</td>
                            <td style="color: blue;">@String.Format("{0:n}", wfthree+ owfthree)</td>
                            <td style="color: blue;">@String.Format("{0:n}", tfthree+ otfthree)</td>
                        </tr>
                        <tr>
                            <td>3 หน้าโต๊ด</td>
                            <td style="color: green;">@String.Format("{0:n}", Convert.ToInt32(fthreeood))</td>
                            <td style="color: green;">@String.Format("{0:n}", wfthreeood)</td>
                            <td style="color: green;">@String.Format("{0:n}", tfthreeood)</td>
                            <td style="color: red;">@String.Format("{0:n}", Convert.ToInt32(ofthreeood))</td>
                            <td style="color: red;">@String.Format("{0:n}", owfthreeood)</td>
                            <td style="color: red;">@String.Format("{0:n}", otfthreeood)</td>
                            <td style="color: blue;">@String.Format("{0:n}", Convert.ToInt32(fthreeood)+ Convert.ToInt32(ofthreeood))</td>
                            <td style="color: blue;">@String.Format("{0:n}", wfthreeood+ owfthreeood)</td>
                            <td style="color: blue;">@String.Format("{0:n}", tfthreeood+ otfthreeood)</td>
                        </tr>
                        <tr>
                            <td>3 บน</td>
                            <td style="color: green;">@String.Format("{0:n}", Convert.ToInt32(threeup))</td>
                            <td style="color: green;">@String.Format("{0:n}", wthreeup)</td>
                            <td style="color: green;">@String.Format("{0:n}", tthreeup)</td>
                            <td style="color: red;">@String.Format("{0:n}", Convert.ToInt32(othreeup))</td>
                            <td style="color: red;">@String.Format("{0:n}", owthreeup)</td>
                            <td style="color: red;">@String.Format("{0:n}", otthreeup)</td>
                            <td style="color: blue;">@String.Format("{0:n}", Convert.ToInt32(threeup)+ Convert.ToInt32(othreeup))</td>
                            <td style="color: blue;">@String.Format("{0:n}", wthreeup+ owthreeup)</td>
                            <td style="color: blue;">@String.Format("{0:n}", tthreeup+ otthreeup)</td>
                        </tr>
                        <tr>
                            <td>3 โต๊ด</td>
                            <td style="color: green;">@String.Format("{0:n}", Convert.ToInt32(threeupood))</td>
                            <td style="color: green;">@String.Format("{0:n}", wthreeupood)</td>
                            <td style="color: green;">@String.Format("{0:n}", tthreeupood)</td>
                            <td style="color: red;">@String.Format("{0:n}", Convert.ToInt32(othreeupood))</td>
                            <td style="color: red;">@String.Format("{0:n}", owthreeupood)</td>
                            <td style="color: red;">@String.Format("{0:n}", otthreeupood)</td>
                            <td style="color: blue;">@String.Format("{0:n}", Convert.ToInt32(threeupood)+ Convert.ToInt32(othreeupood))</td>
                            <td style="color: blue;">@String.Format("{0:n}", wthreeupood+ owthreeupood)</td>
                            <td style="color: blue;">@String.Format("{0:n}", tthreeupood+ otthreeupood)</td>
                        </tr>
                        <tr>
                            <td>3 ล่าง</td>
                            <td style="color: green;">@String.Format("{0:n}", Convert.ToInt32(threedown))</td>
                            <td style="color: green;">@String.Format("{0:n}", wthreedown)</td>
                            <td style="color: green;">@String.Format("{0:n}", tthreedown)</td>
                            <td style="color: red;">@String.Format("{0:n}", Convert.ToInt32(othreedown))</td>
                            <td style="color: red;">@String.Format("{0:n}", owthreedown)</td>
                            <td style="color: red;">@String.Format("{0:n}", otthreedown)</td>
                            <td style="color: blue;">@String.Format("{0:n}", Convert.ToInt32(threedown)+ Convert.ToInt32(othreedown))</td>
                            <td style="color: blue;">@String.Format("{0:n}", wthreedown+ owthreedown)</td>
                            <td style="color: blue;">@String.Format("{0:n}", tthreedown+ otthreedown)</td>
                        </tr>
                        <tr>
                            <td>2 บน</td>
                            <td style="color: green;">@String.Format("{0:n}", Convert.ToInt32(twoup))</td>
                            <td style="color: green;">@String.Format("{0:n}", wtwoup)</td>
                            <td style="color: green;">@String.Format("{0:n}", ttwoup)</td>
                            <td style="color: red;">@String.Format("{0:n}", Convert.ToInt32(otwoup))</td>
                            <td style="color: red;">@String.Format("{0:n}", owtwoup)</td>
                            <td style="color: red;">@String.Format("{0:n}", ottwoup)</td>
                            <td style="color: blue;">@String.Format("{0:n}", Convert.ToInt32(twoup)+ Convert.ToInt32(otwoup))</td>
                            <td style="color: blue;">@String.Format("{0:n}", wtwoup+ owtwoup)</td>
                            <td style="color: blue;">@String.Format("{0:n}", ttwoup+ ottwoup)</td>
                        </tr>
                        <tr>
                            <td>2 ล่าง</td>
                            <td style="color: green;">@String.Format("{0:n}", Convert.ToInt32(twodown))</td>
                            <td style="color: green;">@String.Format("{0:n}", wtwodown)</td>
                            <td style="color: green;">@String.Format("{0:n}", ttwodown)</td>
                            <td style="color: red;">@String.Format("{0:n}", Convert.ToInt32(otwodown))</td>
                            <td style="color: red;">@String.Format("{0:n}", owtwodown)</td>
                            <td style="color: red;">@String.Format("{0:n}", ottwodown)</td>
                            <td style="color: blue;">@String.Format("{0:n}", Convert.ToInt32(twodown)+ Convert.ToInt32(otwodown))</td>
                            <td style="color: blue;">@String.Format("{0:n}", wtwodown+ owtwodown)</td>
                            <td style="color: blue;">@String.Format("{0:n}", ttwodown+ ottwodown)</td>
                        </tr>
                        <tr>
                            <td>2 โต๊ด</td>
                            <td style="color: green;">@String.Format("{0:n}", Convert.ToInt32(twoood))</td>
                            <td style="color: green;">@String.Format("{0:n}", wtwoood)</td>
                            <td style="color: green;">@String.Format("{0:n}", ttwoood)</td>
                            <td style="color: red;">@String.Format("{0:n}", Convert.ToInt32(otwoood))</td>
                            <td style="color: red;">@String.Format("{0:n}", owtwoood)</td>
                            <td style="color: red;">@String.Format("{0:n}", ottwoood)</td>
                            <td style="color: blue;">@String.Format("{0:n}", Convert.ToInt32(twoood)+ Convert.ToInt32(otwoood))</td>
                            <td style="color: blue;">@String.Format("{0:n}", wtwoood+ owtwoood)</td>
                            <td style="color: blue;">@String.Format("{0:n}", ttwoood+ ottwoood)</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td class="bg-warning-5">รวม</td>
                            <td class="bg-success-5">@String.Format("{0:n}", totaldis)</td>
                            <td class="bg-success-5">@String.Format("{0:n}", toralwin)</td>
                            <td class="bg-success-5">@String.Format("{0:n}", (totaldis - toralwin))</td>
                            <td class="bg-danger-5">@String.Format("{0:n}", ototaldis)</td>
                            <td class="bg-danger-5">@String.Format("{0:n}", otoralwin)</td>
                            <td class="bg-danger-5">@String.Format("{0:n}", (ototaldis-otoralwin))</td>
                            <td class="bg-info-5">@String.Format("{0:n}", totaldis+ ototaldis)</td>
                            <td class="bg-info-5">@String.Format("{0:n}", toralwin+ otoralwin)</td>
                            <td class="bg-info-5">@String.Format("{0:n}", (totaldis - toralwin)+ (ototaldis-otoralwin))</td>
                        </tr>
                    </tfoot>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="printBalance">พิมพ์</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">ปิด</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="totalKeep" tabindex="-1" role="dialog" aria-labelledby="totalKeepLabel" aria-hidden="true">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
           <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="printKeepArea">
                <br />
                <h4><center>ใบสรุปยอดเก็บ งวดวันที่ @Model[0].Date.ToString("dd/MM/yyyy")</center></h4><br/>
                @{
                    var sum = 0.00;
                    var sumw = 0;
                    var countu = 0;
                }
                @foreach (var item in (List<User_Bet_Result>)ViewData["UBET"])
                {
                    if(item.Discount!="")
                    {
                        sum = sum + float.Parse(item.Discount);
                        sumw = sumw + Int32.Parse(item.Win);
                        countu += 1;
                    }
                }
                <div class="row">
                    <div class="col-md-4">
                        หวยรัฐบาล
                    </div>
                    <div class="col-md-4">
                        ยอด @String.Format("{0:n}", Convert.ToInt32(sum)) บาท
                    </div>
                    <div class="col-md-4">
                        จำนวน @countu คน
                    </div>
                    <div class="col-md-12">
                        <br/>
                        <table class="table table-bordered" style="text-align:center;">
                            <thead style="color:white;background-color:blue;">
                                <tr>
                                    <th>ชื่อ</th>
                                    <th>ยอดเก็บ</th>
                                    <th>ยอดจ่าย</th>
                                </tr>
                            </thead>
                            <tbody>
                                
                                @foreach (var item in (List<User_Bet_Result>)ViewData["UBET"])
                                {
                                    if (item.Discount!="")
                                    {
                                    <tr>
                                        <td>@item.Name</td>
                                        <td>@String.Format("{0:n}", Int32.Parse(item.Discount))</td>
                                        <td>@String.Format("{0:n}", Int32.Parse(item.Win))</td>
                                    </tr>
                                    }
                                }
                            </tbody>
                            <tfoot>
                                <tr style="color:white;background-color:blue;">
                                    <td>รวม</td>
                                    <td>@String.Format("{0:n}", sum)</td>
                                    <td>@String.Format("{0:n}", sumw)</td>
                                </tr>
                                <tr>
                                    <td style="color:white;background-color:blue;">หักลบ</td>
                                    <td colspan="2">@String.Format("{0:n}", (sum- sumw))</td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="printKeep">พิมพ์</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">ปิด</button>
            </div>
        </div>
    </div>
</div>
<script src="~/Assets/js/close.js"></script>
<script>
    addPeroid = '@Url.Action("addPeroid", "Admin")';
    betStatus = '@Url.Action("UpdateBetStatus", "Admin")';
    closeLotto = '@Url.Action("CloseLotto", "Admin")';
    CheckResult= '@Url.Action("CheckResult", "Admin")';
    (function ($) {

    })(jQuery);

    $('#printBalance').click(function () {

          var printContents = document.getElementById('printBalanceArea');

          var newWin = window.open('','Print-Window');

          newWin.document.open();

          newWin.document.write('<html><head><link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css"></head><body onload="window.print()">'+printContents.innerHTML+'</body></html>');

          newWin.document.close();

          setTimeout(function(){newWin.close();},10);
    });

     $('#printKeep').click(function () {
        var printContents = document.getElementById('printKeepArea');

          var newWin = window.open('','Print-Window');

          newWin.document.open();

          newWin.document.write('<html><head><link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css"></head><body onload="window.print()">'+printContents.innerHTML+'</body></html>');

          newWin.document.close();

          setTimeout(function(){newWin.close();},10);
    });

</script>

