@model IList<Lotto.Models.All_Number>
@{
  ViewBag.Title = "Cut";
    Layout = "~/Views/Shared/_Admin.cshtml";
    var twoup = 0;
    var threeup = 0;
    var three_ = 0;
    var two_ = 0;
    var fthree = 0;
    var fthree_ = 0;
    var up = 0;
    var down = 0;
    var twodown = 0;
    var threedown = 0;
}

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <i class="mr-2 fa fa-cut"></i>
                    <strong class="card-title">ตัดเลข</strong>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <form action="#" method="post" enctype="multipart/form-data" class="form-horizontal">
                                <div class="row form-group">
                                    <div class="col-md-1"><label for="select" class="form-control-label">เรียง</label></div>
                                    <div class="col-md-4">
                                        <select name="select" id="select" class="form-control-sm form-control">
                                            <option value="0" selected>เลข</option>
                                            <option value="1">ยอดแทง</option>
                                        </select>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12" id="printCutArea">
                            <div class="card">
                                <div class="card-body">
                                    <div class="table table-stats" style="text-align:center;">
                                        <table class="table-fixed" width="100%">
                                            <thead>
                                                <tr>
                                                    <th style="border: 0;"></th>
                                                    <th style="border: 0;color:white;background-color:red;">2 บน</th>
                                                    <th style="border: 0;color:white;background-color:black;">3 บน</th>
                                                    <th style="border: 0;color:white;background-color:red;">3 โต๊ด</th>
                                                    @*<th style="color:white;background-color:black;">2 โต๊ด</th>*@
                                                    <th style="border: 0;color:white;background-color:black;">3 หน้า</th>
                                                    <th style="border: 0;color:white;background-color:red;">3 หน้าโต๊ด</th>
                                                    <th style="border: 0;color:white;background-color:black;">วิ่ง บน</th>
                                                    <th style="border: 0;color:white;background-color:red;">วื่ง ล่าง</th>
                                                    <th style="border: 0;color:white;background-color:black;">2 ล่าง</th>
                                                    <th style="border: 0;color:white;background-color:red;">3 ล่าง</th>
                                                </tr>
                                            </thead>
                                            <tbody style="text-align:left;">
                                                <tr>
                                                    <td></td>
                                                    <td><input type="text" id="two_up" autocomplete="off" name="text-input" class="form-control form-control-sm" onkeypress="return keyPress(this, event);"></td>
                                                    <td><input type="text" id="three_up" autocomplete="off" name="text-input" class="form-control form-control-sm" onkeypress="return keyPress(this, event);"></td>
                                                    <td><input type="text" id="three_ood" autocomplete="off" name="text-input" class="form-control form-control-sm" onkeypress="return keyPress(this, event);"></td>
                                                    @*<td><input type="text" id="two_ood" autocomplete="off" name="text-input" class="form-control form-control-sm" onkeypress="return keyPress(this, event);"></td>*@
                                                    <td><input type="text" id="first_three" autocomplete="off" name="text-input" class="form-control form-control-sm" onkeypress="return keyPress(this, event);"></td>
                                                    <td><input type="text" id="first_three_ood" autocomplete="off" name="text-input" class="form-control form-control-sm" onkeypress="return keyPress(this, event);"></td>
                                                    <td><input type="text" id="up" autocomplete="off" name="text-input" class="form-control form-control-sm" onkeypress="return keyPress(this, event);"></td>
                                                    <td><input type="text" id="down" autocomplete="off" name="text-input" class="form-control form-control-sm" onkeypress="return keyPress(this, event);"></td>
                                                    <td><input type="text" id="two_down" autocomplete="off" name="text-input" class="form-control form-control-sm" onkeypress="return keyPress(this, event);"></td>
                                                    <td><input type="text" id="three_down" autocomplete="off" name="text-input" class="form-control form-control-sm" onkeypress="return keyPress(this, event);"></td>
                                                </tr>
                                                <tr>
                                                    <td></td>
                                                    <td style="vertical-align: top;">
                                                        <table id="ct2up"></table>
                                                    </td>
                                                    <td style="vertical-align: top;">
                                                        <table id="cct3up"></table>
                                                    </td>
                                                    <td style="vertical-align: top;">
                                                        <table id="ct3_"></table>
                                                    </td>
                                                    @*<td style="vertical-align: top;">
                                            <table id="ct2_">
                                            </table>
                                        </td>*@
                                                    <td style="vertical-align: top;">
                                                        <table id="ct3f"></table>
                                                    </td>
                                                    <td style="vertical-align: top;">
                                                        <table id="ct3f_"></table>
                                                    </td>
                                                    <td style="vertical-align: top;">
                                                        <table id="ct1up"></table>
                                                    </td>
                                                    <td style="vertical-align: top;">
                                                        <table id="ct1down"></table>
                                                    </td>
                                                    <td style="vertical-align: top;">
                                                        <table id="ct2down"></table>
                                                    </td>
                                                    <td style="vertical-align: top;">
                                                        <table id="ct3down"></table>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 form-group">
                            <div class="col-md-2 offset-5">
                                <button type="button" class="btn btn-block btn-sm btn-success" id="cut">ตัด</button>
                            </div>
                        </div>
                        <div class="col-md-12 right">
                            <button type="button" class="btn btn-sm btn-default" id="printCut">พิมพ์</button>
                        </div>
                    </div>
                    <br/>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="table table-stats" style="text-align:center;">
                                <table class="table-fixed" width="100%">
                                    <thead>
                                        <tr>
                                            <th style="border: 0;"></th>
                                            <th colspan="6" style="color:white;background-color:#00c292;">สู้บน</th>
                                            <th colspan="4" style="color:white;background-color:#000092;">สู้ล่าง</th>
                                        </tr>
                                    </thead>
                                    <thead>
                                        <tr>
                                            <th style="border: 0;"></th>
                                            <th style="background-color:white;" id="twoup">0</th>
                                            <th style="background-color:white;" id="threeup">0</th>
                                            <th style="background-color:white;" id="three_">0</th>
                                            @*<th style="background-color:white;" id="two_">0</th>*@
                                            <th style="background-color:white;" id="fthree">0</th>
                                            <th style="background-color:white;" id="fthree_">0</th>
                                            <th style="background-color:white;" id="s_up">0</th>
                                            <th style="background-color:white;" id="s_down">0</th>
                                            <th style="background-color:white;" id="twodown">0</th>
                                            <th style="background-color:white;" id="threedown">0</th>
                                        </tr>
                                    </thead>
                                    <thead>
                                        <tr>
                                            <th style="border: 0;"></th>
                                            <th style="color:white;background-color:red;">2 บน</th>
                                            <th style="color:white;background-color:black;">3 บน</th>
                                            <th style="color:white;background-color:red;">3 โต๊ด</th>
                                            @*<th style="color:white;background-color:black;">2 โต๊ด</th>*@
                                            <th style="color:white;background-color:black;">3 หน้า</th>
                                            <th style="color:white;background-color:red;">3 หน้าโต๊ด</th>
                                            <th style="color:white;background-color:black;">วิ่ง บน</th>
                                            <th style="color:white;background-color:red;">วื่ง ล่าง</th>
                                            <th style="color:white;background-color:black;">2 ล่าง</th>
                                            <th style="color:white;background-color:red;">3 ล่าง</th>
                                        </tr>
                                    </thead>
                                    <tbody style="text-align:left;">
                                        <tr>
                                            <td>
                                                @if (Model.Count > 0)
                                                {
                                                    <table>
                                                        @for (int i = 1; i <= Int32.Parse(Model[0].Max); i++)
                                                        {
                                                            <tr><td>@i</td></tr>
                                                        }
                                                    </table>
                                                }

                                            </td>
                                            <td style="vertical-align: top;">
                                                <table id="t2up">
                                                    @foreach (var item in Model)
                                                    {
                                                        if (item.nLen == "2" && item.Type == "t")
                                                        {
                                                            twoup += Int32.Parse(item.Amount);
                                                            <tr><td nowrap>@item.Number = @item.Amount</td></tr>
                                                        }
                                                    }
                                                </table>
                                            </td>
                                            <td style="vertical-align: top;">
                                                <table id="t3up">
                                                    @foreach (var item in Model)
                                                    {
                                                        if (item.nLen == "3" && item.Type == "t")
                                                        {
                                                            threeup += Int32.Parse(item.Amount);
                                                            <tr><td nowrap>@item.Number = @item.Amount</td></tr>
                                                        }
                                                    }
                                                </table>
                                            </td>
                                            <td style="vertical-align: top;">
                                                <table id="t3_">
                                                    @foreach (var item in Model)
                                                    {
                                                        if (item.nLen == "3" && item.Type == "t_")
                                                        {
                                                            three_ += Int32.Parse(item.Amount);
                                                            <tr><td nowrap>@item.Number = @item.Amount</td></tr>
                                                        }
                                                    }
                                                </table>
                                            </td>
                                            @*<td style="vertical-align: top;">
                                                <table id="t2_">
                                                    @foreach (var item in Model)
                                                    {
                                                        if (item.nLen == "2" && item.Type == "t_")
                                                        {
                                                            two_ += Int32.Parse(item.Amount);
                                                            <tr><td nowrap>@item.Number = @item.Amount</td></tr>
                                                        }
                                                    }
                                                </table>
                                            </td>*@
                                            <td style="vertical-align: top;">
                                                <table id="t3f">
                                                    @foreach (var item in Model)
                                                    {
                                                        if (item.nLen == "3" && item.Type == "f")
                                                        {
                                                            fthree += Int32.Parse(item.Amount);
                                                            <tr><td nowrap>@item.Number = @item.Amount</td></tr>
                                                        }
                                                    }
                                                </table>
                                            </td>
                                            <td style="vertical-align: top;">
                                                <table id="t3f_">
                                                    @foreach (var item in Model)
                                                    {
                                                        if (item.nLen == "3" && item.Type == "f_")
                                                        {
                                                            fthree_ += Int32.Parse(item.Amount);
                                                            <tr><td nowrap>@item.Number = @item.Amount</td></tr>
                                                        }
                                                    }
                                                </table>
                                            </td>
                                            <td style="vertical-align: top;">
                                                <table id="t1up">
                                                    @foreach (var item in Model)
                                                    {
                                                        if (item.nLen == "1" && item.Type == "t")
                                                        {
                                                            up += Int32.Parse(item.Amount);
                                                            <tr><td nowrap>@item.Number = @item.Amount</td></tr>
                                                        }
                                                    }
                                                </table>
                                            </td>
                                            <td style="vertical-align: top;">
                                                <table id="t1down">
                                                    @foreach (var item in Model)
                                                    {
                                                        if (item.nLen == "1" && item.Type == "b")
                                                        {
                                                            down += Int32.Parse(item.Amount);
                                                            <tr><td nowrap>@item.Number = @item.Amount</td></tr>
                                                        }
                                                    }
                                                </table>
                                            </td>
                                            <td style="vertical-align: top;">
                                                <table id="t2down">
                                                    @foreach (var item in Model)
                                                    {
                                                        if (item.nLen == "2" && item.Type == "b")
                                                        {
                                                            twodown += Int32.Parse(item.Amount);
                                                            <tr><td nowrap>@item.Number = @item.Amount</td></tr>
                                                        }
                                                    }
                                                </table>
                                            </td>
                                            <td style="vertical-align: top;">
                                                <table id="t3down">
                                                    @foreach (var item in Model)
                                                    {
                                                        if (item.nLen == "3" && item.Type == "b")
                                                        {
                                                            threedown += Int32.Parse(item.Amount);
                                                            <tr><td nowrap>@item.Number = @item.Amount</td></tr>
                                                        }
                                                    }
                                                </table>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div> <!-- /.table-stats -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <i class="mr-2 fa fa-bar-chart"></i>
                    <strong class="card-title">กราฟ</strong>
                </div>
                <div class="card-body row">
                    <div class="col-md-6">
                        <canvas id="two_up_chart" data-name="กราฟ 2 บน"></canvas>
                    </div>
                    <div class="col-md-6">
                        <canvas id="three_up_chart" data-name="กราฟ 3 บน"></canvas>
                    </div>
                    <div class="col-md-6">
                        <canvas id="three_ood_chart" data-name="กราฟ 3 โต๊ด"></canvas>
                    </div>
                    <div class="col-md-6">
                        <canvas id="first_three_chart" data-name="กราฟ 3 หน้า"></canvas>
                    </div>
                    <div class="col-md-6">
                        <canvas id="first_three_ood_chart" data-name="กราฟ 3 หน้าโต๊ด"></canvas>
                    </div>
                    <div class="col-md-6">
                        <canvas id="up_chart" data-name="กราฟ วิ่ง บน"></canvas>
                    </div>
                    <div class="col-md-6">
                        <canvas id="down_chart" data-name="กราฟ วื่ง ล่าง"></canvas>
                    </div>
                    <div class="col-md-6">
                        <canvas id="two_down_chart" data-name="กราฟ 2 ล่าง"></canvas>
                    </div>
                    <div class="col-md-6">
                        <canvas id="three_down_chart" data-name="กราฟ 3 ล่าง"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
<script>
    getRate = '@Url.Action("getRate", "Admin")';
    var rate;
    var model = @Html.Raw(Json.Encode(Model));
    var twoup = @Html.Raw(twoup);
    var threeup = @Html.Raw(threeup);
    var three_ = @Html.Raw(three_);
    @*var two_ = @Html.Raw(two_);*@
    var fthree = @Html.Raw(fthree);
    var fthree_ = @Html.Raw(fthree_);
    var up = @Html.Raw(up);
    var down = @Html.Raw(down);
    var twodown = @Html.Raw(twodown);
    var threedown = @Html.Raw(threedown);

    var chart = { 
        "two_up" : [],
        "three_up" : [],
        "three_ood" : [],
        "first_three" : [],
        "first_three_ood" : [],
        "up" : [],
        "down" : [],
        "two_down" : [],
        "three_down" : []
    };

    var chartData = { 
        "two_up_val" : [],
        "two_up_label" : [],
        "three_up_val" : [],
        "three_up_label" : [],
        "three_ood_val" : [],
        "three_ood_label" : [],
        "first_three_val" : [],
        "first_three_label" : [],
        "first_three_ood_val" : [],
        "first_three_ood_label" : [],
        "up_val" : [],
        "up_label" : [],
        "down_val" : [],
        "down_label" : [],
        "two_down_val" : [],
        "two_down_label" : [],
        "three_down_val" : [],
        "three_down_label" : [],
    };

    console.log(up);
    $(document).ready(function () {
        $.ajax({
            url: getRate,
            type: "POST",
            dataType: "json",
            success: function (data) {
                rate = data;
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert("error");
            }
        });

        $.each(model,function(key,value){
            var arr = {
                "number": value.Number,
                "amount": value.Amount
            };
            if (value.nLen == "2" && value.Type == "t"){
                chart["two_up"].push(arr);
            }
            if (value.nLen == "3" && value.Type == "t"){
                chart["three_up"].push(arr);
            }
            if (value.nLen == "3" && value.Type == "t_"){
                chart["three_ood"].push(arr);
            }
            if (value.nLen == "3" && value.Type == "f"){
                chart["first_three"].push(arr);

            }
            if (value.nLen == "3" && value.Type == "f_"){
                chart["first_three_ood"].push(arr);
            }
            if (value.nLen == "1" && value.Type == "t"){
                chart["up"].push(arr);
            }
            if (value.nLen == "1" && value.Type == "b"){
                chart["down"].push(arr);

            }
            if (value.nLen == "2" && value.Type == "b"){
                chart["two_down"].push(arr);

            }
            if (value.nLen == "3" && value.Type == "b"){
                chart["three_down"].push(arr);
            }
        });
        //console.log(JSON.stringify(two_up_arr));
        $.each(chart, function( index, value ) {
            var count;
            if(value.length > 10){
                count = 10;
            }
            else{
                count = value.length;
            }
            for (var i = 0; i < count; i++) {
                var key = findMax(value);
                //console.log(key);
                //alert(index+"_val");
                chartData[index+"_val"].push(parseInt(value[key].amount));
                chartData[index+"_label"].push(parseInt(value[key].number));
                value.splice(key, 1);
                //console.log(JSON.stringify(two_up_arr));
            }
        });

        function findMax(arr){
            var key;
            var max = -Infinity;
            arr.forEach(function (v, k) { 
                if (max < +v.amount) { 
                    max = +v.amount; 
                    key = k; 
                }
            });
            return key;
        }

        var two_up_chart = document.getElementById("two_up_chart").getContext('2d');
        var three_up_chart = document.getElementById("three_up_chart").getContext('2d');
        var three_ood_chart = document.getElementById("three_ood_chart").getContext('2d');
        var first_three_chart = document.getElementById("first_three_chart").getContext('2d');
        var first_three_ood_chart = document.getElementById("first_three_ood_chart").getContext('2d');
        var up_chart = document.getElementById("up_chart").getContext('2d');
        var down_chart = document.getElementById("down_chart").getContext('2d');
        var two_down_chart = document.getElementById("two_down_chart").getContext('2d');
        var three_down_chart = document.getElementById("three_down_chart").getContext('2d');

        $("canvas").each(function(){
            var chart = $(this).attr('id');
            var name = $(this).data('name');
            var data;
            if(chart == 'two_up_chart'){
                data = {
                    labels: chartData["two_up_label"],
                    datasets: [{
                        backgroundColor: randomColor(),
                        data: chartData["two_up_val"]
                    }]
                };
            }
            if(chart == 'three_up_chart'){
                data = {
                    labels: chartData["three_up_label"],
                    datasets: [{
                        backgroundColor: randomColor(),
                        data: chartData["three_up_val"]
                    }]
                };
            }
            if(chart == 'three_ood_chart'){
                data = {
                    labels: chartData["three_ood_label"],
                    datasets: [{
                        backgroundColor: randomColor(),
                        data: chartData["three_ood_val"]
                    }]
                };
            }
            if(chart == 'first_three_chart'){
                data = {
                    labels: chartData["first_three_label"],
                    datasets: [{
                        backgroundColor: randomColor(),
                        data: chartData["first_three_val"]
                    }]
                };
            }
            if(chart == 'first_three_ood_chart'){
                data = {
                    labels: chartData["first_three_ood_label"],
                    datasets: [{
                        backgroundColor: randomColor(),
                        data: chartData["first_three_ood_val"]
                    }]
                };
            }
            if(chart == 'up_chart'){
                data = {
                    labels: chartData["up_label"],
                    datasets: [{
                        backgroundColor: randomColor(),
                        data: chartData["up_val"]
                    }]
                };
            }
            if(chart == 'down_chart'){
                data = {
                    labels: chartData["down_label"],
                    datasets: [{
                        backgroundColor: randomColor(),
                        data: chartData["down_val"]
                    }]
                };
            }
            if(chart == 'two_down_chart'){
                data = {
                    labels: chartData["two_down_label"],
                    datasets: [{
                        backgroundColor: randomColor(),
                        data: chartData["two_down_val"]
                    }]
                };
            }
            if(chart == 'three_down_chart'){
                data = {
                    labels: chartData["three_down_label"],
                    datasets: [{
                        backgroundColor: randomColor(),
                        data: chartData["three_down_val"]
                    }]
                };
            }
            //console.log(JSON.stringify(data));
            var myBarChart = new Chart(chart, {
                type: 'bar',
                data: data,
                options: {
                    title: {
                              display: true,
                              text: name,
                              position: 'top'
                          },
                    legend: {
                        display: false
                    },
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero:true
                            }
                        }]
                    }
                }
            });

            myBarChart.update();
        });

    });

    function randomColor() {
        var letters = '0123456789ABCDEF';
        var color = '#';
        for (var i = 0; i < 6; i++) {
            color += letters[Math.floor(Math.random() * 16)];
        }
        return color;
    }

    $("#twoup").html(nwc(twoup));
    $("#threeup").html(nwc(threeup));
    $("#threedown").html(nwc(threedown));
    $("#three_").html(nwc(three_));
    //$("#two_").html(nwc(two_));
    $("#fthree").html(nwc(fthree));
    $("#fthree_").html(nwc(fthree_));
    $("#s_up").html(nwc(up));
    $("#s_down").html(nwc(down));
    $("#twodown").html(nwc(twodown));

    $("#select").change(function () {
        $("#t2up").html("");
        $("#t3up").html("");
        $("#t3_").html("");
        //$("#t2_").html("");
        $("#t3f").html("");
        $("#t3f_").html("");
        $("#t1up").html("");
        $("#t1down").html("");
        $("#t2down").html("");
        $("#t3down").html("");

        if (this.value == 0) {
            model.sort(function (a, b) {
                if (parseInt(a.nLen) == parseInt(b.nLen)) {
                    if (a.Type == b.Type) {
                        return (parseInt(a.Number) < parseInt(b.Number)) ? -1 : (parseInt(a.Number) > parseInt(b.Number)) ? 1 : 0;
                    }
                    else {
                        return (a.Type < b.Type) ? -1 : 1;
                    }
                }
                else {
                    return (parseInt(a.nLen) < parseInt(b.nLen)) ? -1 : 1;
                }

                //return a.Number.localeCompare(b.Number);
            });
            for (var i = 0; i < Object.keys(model).length; i++) {
                if (model[i].Type == "t" && model[i].nLen == "2") {
                    //two_up_val.push(model[i].Amount);
                    //two_up_label.push(model[i].Number);
                    $("#t2up").append('<tr><td nowrap>' + model[i].Number + ' = ' + model[i].Amount + '</td></tr>');
                }
                else if (model[i].nLen == "3" && model[i].Type == "t") {
                    //three_up_val.push(model[i].Amount);
                    //three_up_label.push(model[i].Number);
                    $("#t3up").append('<tr><td nowrap>' + model[i].Number + ' = ' + model[i].Amount + '</td></tr>');
                }
                else if (model[i].nLen == "3" && model[i].Type == "t_") {
                    //three_ood_val.push(model[i].Amount);
                    //three_ood_label.push(model[i].Number);
                    $("#t3_").append('<tr><td nowrap>' + model[i].Number + ' = ' + model[i].Amount + '</td></tr>');
                }
                //else if (model[i].nLen == "2" && model[i].Type == "t_") {
                //    $("#t2_").append('<tr><td nowrap>' + model[i].Number + ' = ' + model[i].Amount + '</td></tr>');
                //}
                else if (model[i].nLen == "3" && model[i].Type == "f") {
                    //first_three_val.push(model[i].Amount);
                    //first_three_label.push(model[i].Number);
                    $("#t3f").append('<tr><td nowrap>' + model[i].Number + ' = ' + model[i].Amount + '</td></tr>');
                }
                else if (model[i].nLen == "3" && model[i].Type == "f_") {
                    //first_three_ood_val.push(model[i].Amount);
                    //first_three_ood_label.push(model[i].Number);
                    $("#t3f_").append('<tr><td nowrap>' + model[i].Number + ' = ' + model[i].Amount + '</td></tr>');
                }
                else if (model[i].nLen == "1" && model[i].Type == "t") {
                    //up_val.push(model[i].Amount);
                    //up_label.push(model[i].Number);
                    $("#t1up").append('<tr><td nowrap>' + model[i].Number + ' = ' + model[i].Amount + '</td></tr>');
                }
                else if (model[i].nLen == "1" && model[i].Type == "b") {
                    //down_val.push(model[i].Amount);
                    //down_label.push(model[i].Number);
                    $("#t1down").append('<tr><td nowrap>' + model[i].Number + ' = ' + model[i].Amount + '</td></tr>');
                }
                else if (model[i].nLen == "2" && model[i].Type == "b") {
                    //two_down_val.push(model[i].Amount);
                    //two_down_label.push(model[i].Number);
                    $("#t2down").append('<tr><td nowrap>' + model[i].Number + ' = ' + model[i].Amount + '</td></tr>');
                }
                else if (model[i].nLen == "3" && model[i].Type == "b") {
                    //three_down_val.push(model[i].Amount);
                    //three_down_label.push(model[i].Number);
                    $("#t3down").append('<tr><td nowrap>' + model[i].Number + ' = ' + model[i].Amount + '</td></tr>');
                }
                else {

                }
            }
        }
        else {
            model.sort(function (a, b) {
                if (parseInt(a.nLen) == parseInt(b.nLen)) {
                    if (a.Type == b.Type) {
                        return (parseInt(a.Amount) > parseInt(b.Amount)) ? -1 : (parseInt(a.Amount) < parseInt(b.Amount)) ? 1 : 0;
                    }
                    else {
                        return (a.Type < b.Type) ? -1 : 1;
                    }
                }
                else {
                    return (parseInt(a.nLen) < parseInt(b.nLen)) ? -1 : 1;
                }

                //return b.Amount.localeCompare(a.Amount);
            });
            for (var i = 0; i < Object.keys(model).length; i++) {
                for (var i = 0; i < Object.keys(model).length; i++) {
                    if (model[i].Type == "t" && model[i].nLen == "2") {
                        //two_up_val.push(model[i].Amount);
                        //two_up_label.push(model[i].Number);
                        $("#t2up").append('<tr><td nowrap>' + model[i].Number + ' = ' + model[i].Amount + '</td></tr>');
                    }
                    else if (model[i].nLen == "3" && model[i].Type == "t") {
                        //three_up_val.push(model[i].Amount);
                        //three_up_label.push(model[i].Number);
                        $("#t3up").append('<tr><td nowrap>' + model[i].Number + ' = ' + model[i].Amount + '</td></tr>');
                    }
                    else if (model[i].nLen == "3" && model[i].Type == "t_") {
                        //three_ood_val.push(model[i].Amount);
                        //three_ood_label.push(model[i].Number);
                        $("#t3_").append('<tr><td nowrap>' + model[i].Number + ' = ' + model[i].Amount + '</td></tr>');
                    }
                    //else if (model[i].nLen == "2" && model[i].Type == "t_") {
                    //    $("#t2_").append('<tr><td nowrap>' + model[i].Number + ' = ' + model[i].Amount + '</td></tr>');
                    //}
                    else if (model[i].nLen == "3" && model[i].Type == "f") {
                        //first_three_val.push(model[i].Amount);
                        //first_three_label.push(model[i].Number);
                        $("#t3f").append('<tr><td nowrap>' + model[i].Number + ' = ' + model[i].Amount + '</td></tr>');
                    }
                    else if (model[i].nLen == "3" && model[i].Type == "f_") {
                        //first_three_ood_val.push(model[i].Amount);
                        //first_three_ood_label.push(model[i].Number);
                        $("#t3f_").append('<tr><td nowrap>' + model[i].Number + ' = ' + model[i].Amount + '</td></tr>');
                    }
                    else if (model[i].nLen == "1" && model[i].Type == "t") {
                        //up_val.push(model[i].Amount);
                        //up_label.push(model[i].Number);
                        $("#t1up").append('<tr><td nowrap>' + model[i].Number + ' = ' + model[i].Amount + '</td></tr>');
                    }
                    else if (model[i].nLen == "1" && model[i].Type == "b") {
                        //down_val.push(model[i].Amount);
                        //down_label.push(model[i].Number);
                        $("#t1down").append('<tr><td nowrap>' + model[i].Number + ' = ' + model[i].Amount + '</td></tr>');
                    }
                    else if (model[i].nLen == "2" && model[i].Type == "b") {
                        //two_down_val.push(model[i].Amount);
                        //two_down_label.push(model[i].Number);
                        $("#t2down").append('<tr><td nowrap>' + model[i].Number + ' = ' + model[i].Amount + '</td></tr>');
                    }
                    else if (model[i].nLen == "3" && model[i].Type == "b") {
                        //three_down_val.push(model[i].Amount);
                        //three_down_label.push(model[i].Number);
                        $("#t3down").append('<tr><td nowrap>' + model[i].Number + ' = ' + model[i].Amount + '</td></tr>');
                    }
                    else {

                    }
                }
            }
        }
    });
    $("#cut").click(function () {
        $("#ct2up").html("");
        $("#ct3up").html("");
        $("#ct3_").html("");
        //$("#ct2_").html("");
        $("#ct3f").html("");
        $("#ct3f_").html("");
        $("#ct1up").html("");
        $("#ct1down").html("");
        $("#ct2down").html("");
        $("#ct3down").html("");
        model.sort(function (a, b) {
            if (parseInt(a.nLen) == parseInt(b.nLen)) {
                if (a.Type == b.Type) {
                    return (parseInt(a.Number) < parseInt(b.Number)) ? -1 : (parseInt(a.Number) > parseInt(b.Number)) ? 1 : 0;
                }
                else {
                    return (a.Type < b.Type) ? -1 : 1;
                }
            }
            else {
                return (parseInt(a.nLen) < parseInt(b.nLen)) ? -1 : 1;
            }
        });
        for (var i = 0; i < Object.keys(model).length; i++) {
            if (model[i].Type == "t" && model[i].nLen == "2") {
                var amount = parseInt(model[i].Amount);
                var receiveAmount = parseInt($("#two_up").val());  
                if (amount > receiveAmount) {
                    $("#ct2up").append('<tr><td nowrap>' + model[i].Number + ' = ' + (amount - receiveAmount) + '</td></tr>');
                }               
            }
            else if (model[i].nLen == "3" && model[i].Type == "t") {
                var amount = parseInt(model[i].Amount);
                var receiveAmount = parseInt($("#three_up").val());
                if (amount > receiveAmount) {
                    $("#ct3up").append('<tr><td nowrap>' + model[i].Number + ' = ' + (amount - receiveAmount) + '</td></tr>');
                }        
            }
            else if (model[i].nLen == "3" && model[i].Type == "t_") {
                var amount = parseInt(model[i].Amount);
                var receiveAmount = parseInt($("#three_ood").val());
                if (amount > receiveAmount) {
                    $("#ct3_").append('<tr><td nowrap>' + model[i].Number + ' = ' + (amount - receiveAmount) + '</td></tr>');
                }
            }
            //else if (model[i].nLen == "2" && model[i].Type == "t_") {
            //    var amount = parseInt(model[i].Amount);
            //    var receiveAmount = parseInt($("#two_ood").val());
            //    if (amount > receiveAmount) {
            //        $("#ct2_").append('<tr><td nowrap>' + model[i].Number + ' = ' +(amount - receiveAmount) + '</td></tr>');
            //    }
            //}
            else if (model[i].nLen == "3" && model[i].Type == "f") {
                var amount = parseInt(model[i].Amount);
                var receiveAmount = parseInt($("#first_three").val());
                if (amount > receiveAmount) {
                    $("#ct3f").append('<tr><td nowrap>' + model[i].Number + ' = ' + (amount - receiveAmount) + '</td></tr>');
                }
            }
            else if (model[i].nLen == "3" && model[i].Type == "f_") {
                var amount = parseInt(model[i].Amount);
                var receiveAmount = parseInt($("#first_three_ood").val());
                if (amount > receiveAmount) {
                    $("#ct3f_").append('<tr><td nowrap>' + model[i].Number + ' = ' + (amount - receiveAmount) + '</td></tr>');
                }
            }
            else if (model[i].nLen == "1" && model[i].Type == "t") {
                var amount = parseInt(model[i].Amount);
                var receiveAmount = parseInt($("#up").val());
                if (amount > receiveAmount) {
                    $("#ct1up").append('<tr><td nowrap>' + model[i].Number + ' = ' + (amount - receiveAmount) + '</td></tr>');
                }
            }
            else if (model[i].nLen == "1" && model[i].Type == "b") {
                var amount = parseInt(model[i].Amount);
                var receiveAmount = parseInt($("#down").val());
                if (amount > receiveAmount) {
                    $("#ct1down").append('<tr><td nowrap>' + model[i].Number + ' = ' + (amount - receiveAmount) + '</td></tr>');
                }
            }
            else if (model[i].nLen == "2" && model[i].Type == "b") {
                var amount = parseInt(model[i].Amount);
                var receiveAmount = parseInt($("#two_down").val());
                if (amount > receiveAmount) {
                    $("#ct2down").append('<tr><td nowrap>' + model[i].Number + ' = ' + (amount - receiveAmount) + '</td></tr>');
                }
            }
            else if (model[i].nLen == "3" && model[i].Type == "b") {
                var amount = parseInt(model[i].Amount);
                var receiveAmount = parseInt($("#three_down").val());
                if (amount > receiveAmount) {
                    $("#ct3down").append('<tr><td nowrap>' + model[i].Number + ' = ' + (amount - receiveAmount) + '</td></tr>');
                }
            }
            else {

            }
        }
    });
    function keyPress(obj, evt) {

        evt = evt || window.event;
        var code = evt.keyCode || evt.which;
        // enter = 13, tab = 9
        // space = 32,  + = 43

        if (code >= 48 && code <= 57) {
            return true;  // Number 0-9
        }
        else if (code == 42 || code == 8 || code == 46 || code == 9 || code == 88 || code == 120) return true; // 42 = *, 8 = back, 46 = del, 9 = tab, 47 = slash, 88 = x, 120 = X
        else if (code >= 37 && code <= 40) return true;  // left, up, right, down
        else return false;
    }

    $('#printCut').click(function () {

            var currentDate = new Date(),
            day = currentDate.getDate(),
            month = currentDate.getMonth() + 1,
            year = currentDate.getFullYear();

            var t =new Date().toLocaleTimeString('en-US', { hour12: false, 
                                             hour: "numeric", 
                                             minute: "numeric"});
            var printContents = document.getElementById('printCutArea');

            var newWin = window.open('','Print-Window');

            newWin.document.open();

        newWin.document.write('<html><head><link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css"></head><body onload="window.print()">' + day + '/' + month + '/' + year + "  " +t+'<br/>'+printContents.innerHTML+'</body></html>');

            newWin.document.close();

            setTimeout(function(){newWin.close();},10);
        });
</script>