@model IList<Lotto.Models.Poll_Detail>
@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Admin.cshtml";
}
@{
    var pollCount = 0;
    var receive = "รับแล้ว";
    var amount = 0;
    var total_amount = 0;
    var amount_receive = 0;
    var total_receive = 0;
    var discount = 0;
    var total_discount = 0;
    var reject_amount = 0;
}

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <i class="mr-2 fa fa-files-o"></i>
                <strong class="card-title">ดูโพยทั้งหมด</strong>
            </div>
            <div class="card-body">
                <table id="bootstrap-data-table" class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>สมาชิก</th>
                            <th>โพยใบที่</th>
                            <th>หมายเลขโพย</th>
                            <th>สถานะ</th>
                            <th>ยอดแทง</th>
                            <th>ยอดรับ</th>
                            <th>ยอดหัก%</th>
                            <th>ยอดถูก</th>
                            <th>วันที่ส่ง</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            pollCount += 1;
                            if (item.Receive == "1")
                            {
                                receive = "รับแล้ว";
                                amount = Int32.Parse(item.Amount);
                                amount_receive = Int32.Parse(item.Amount);
                                discount = Int32.Parse(item.Discount);
                                total_amount += amount;
                                total_receive += amount_receive;
                                total_discount += discount;
                            }
                            else
                            {
                                receive = "คืนทั้งใบ";
                                amount = Int32.Parse(item.Amount);
                                total_amount += amount;
                                amount_receive = 0;
                                total_receive += amount_receive;
                                reject_amount += amount;
                                discount = 0;
                            }
                            <tr>
                                <td>@item.name</td>
                                <td>@item.poll_number</td>
                                <td>@item.ID</td>
                                <td>@receive</td>
                                <td>@amount</td>
                                <td>@amount_receive</td>
                                <td>@discount</td>
                                <td>0</td>@*-------------------------- ตรวจเลขถูก  -----------------------------*@
                                <td>@item.create_date</td>
                                <td><button type="button" class="btn btn-sm btn-primary showPoll" data-uid="@item.UID" data-pollNumber="@item.poll_number" data-cBy="@item.Create_By" data-cDate="@item.create_date" data-toggle="modal" data-discount="@discount" data-areceiv="@amount_receive" data-amount="@amount" data-receive="@receive" data-pCount="@pollCount" data-id="@item.ID" data-target="#checkModal">ดูโพย</button></td>
                            </tr>
                        }
                    </tbody>
                    <tfoot>
                        <tr>
                            <th>รวม</th>
                            <th>@pollCount ใบ</th>
                            <th></th>
                            <th></th>
                            <th>@total_amount</th>
                            <th>@total_receive</th>
                            <th>@total_discount</th>
                            <th>0</th>@*-------------------------- ตรวจเลขถูก  -----------------------------*@
                            <th>สรุป</th>
                            <th>@total_discount</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="checkModal" tabindex="-1" role="dialog" aria-labelledby="checkModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document" style="max-width:90%;">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="checkModalLabel">ตรวจเลข</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <h3>สรุปโพย</h3>
                    </div>
                    <div class="col-md-6 right">
                        <button type="button" class="btn btn-sm btn-warning" id="editPoll">แก้ไข</button>
                        <button type="button" class="btn btn-sm btn-danger" id="reject">คืนทั้งใบ</button>
                    </div>
                    <div class="col-md-12" id="printArea">
                        <hr />
                        <div class="col-md-12">
                            <form action="#" method="post" enctype="multipart/form-data" class="form-horizontal">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row form-group">
                                            <div class="col col-md-5"><label class="form-control-label">โพยใบที่</label></div>
                                            <div class="col-12 col-md-7"><div id="poll_number" class="form-control-label bold"></div></div>
                                        </div>
                                        <div class="row form-group">
                                            <div class="col col-md-5"><label class="form-control-label">สถานะ</label></div>
                                            <div class="col-12 col-md-7"><div id="receive_status" class="form-control-label bold"></div></div>
                                        </div>
                                        <div class="row form-group">
                                            <div class="col col-md-5"><label class="form-control-label">ยอดแทงใบนี้</label></div>
                                            <div class="col-12 col-md-7"><div id="amount" class="form-control-label bold"></div></div>
                                        </div>
                                        <div class="row form-group">
                                            <div class="col col-md-5"><label class="form-control-label">ยอดรับใบนี้</label></div>
                                            <div class="col-12 col-md-7"><div id="receive" class="form-control-label bold"></div></div>
                                        </div>
                                        <div class="row form-group">
                                            <div class="col col-md-5"><label class="form-control-label">ยอดหัก%ใบนี้</label></div>
                                            <div class="col-12 col-md-7"><div id="discount" class="form-control-label bold"></div></div>
                                        </div>
                                        <div class="row form-group">
                                            <div class="col col-md-5"><label class="form-control-label">วันที่แทง</label></div>
                                            <div class="col-12 col-md-7"><div id="poll_date" class="form-control-label bold"></div></div>
                                        </div>
                                        <div class="row form-group">
                                            <div class="col col-md-5"><label class="form-control-label">แทงโดย</label></div>
                                            <div class="col-12 col-md-7"><div id="poll_by" class="form-control-label bold"></div></div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row form-group">
                                            <div class="col col-md-5"><label class="form-control-label">วันที่รับ</label></div>
                                            <div class="col-12 col-md-7"><div id="receive_date" class="form-control-label bold"></div></div>
                                        </div>

                                        <div class="row form-group">
                                            <div class="col col-md-5"><label class="form-control-label">โพยหมายเลข</label></div>
                                            <div class="col-12 col-md-7"><div id="poll_id" class="form-control-label bold"></div></div>
                                        </div>
                                        <div class="row form-group">
                                            <div class="col col-md-5"><label class="form-control-label">จำนวนโพย</label></div>
                                            <div class="col-12 col-md-7"><div id="total_poll" class="form-control-label bold"></div></div>
                                        </div>
                                        <div class="row form-group">
                                            <div class="col col-md-5"><label class="form-control-label">รับแล้ว</label></div>
                                            <div class="col-12 col-md-7"><div id="receive_poll" class="form-control-label bold"></div></div>
                                        </div>
                                        <div class="row form-group">
                                            <div class="col col-md-5"><label class="form-control-label">ยอดคืนงวดนี้</label></div>
                                            <div class="col-12 col-md-7"><div id="r_amount" class="form-control-label bold"></div></div>
                                        </div>
                                        <div class="row form-group">
                                            <div class="col col-md-5"><label class="form-control-label">ยอดรับงวดนี้</label></div>
                                            <div class="col-12 col-md-7"><div id="receive_amount" class="form-control-label bold"></div></div>
                                        </div>
                                        <div class="row form-group">
                                            <div class="col col-md-5"><label class="form-control-label">ยอดหัก%งวดนี้</label></div>
                                            <div class="col-12 col-md-7"><div id="t_discount" class="form-control-label bold"></div></div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <hr />
                        <div class="col-md-12">
                            <div class="row" id="poll">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @*<div class="modal-footer">
                    <button type="button" class="btn btn-primary">ตรวจ</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">ยกเลิก</button>
                </div>*@
        </div>
    </div>
</div>
<script src="~/Assets/js/admin_list.js"></script>
@*<script src="~/Assets/js/admin_bet.js"></script>*@
<script>
    getPoll = '@Url.Action("getPoll", "User")';
    getPollHeadDetail = '@Url.Action("getPoll", "Admin")';
    RejectPoll = '@Url.Action("RejectPoll", "Admin")';
    (function ($) {
        $('#bootstrap-data-table').DataTable({
            lengthMenu: [[10, 20, 50, -1], [10, 20, 50, "All"]],
            fixedHeader: {
                footer: true
            }
        });

        $('#printPDF').click(function () {
            var printContents = document.getElementById('printArea').innerHTML;
            var originalContents = document.body.innerHTML;

            document.body.innerHTML = printContents;

            window.print();

            document.body.innerHTML = originalContents;
        });


        $('#editPoll')

    })(jQuery);
</script>

