@model IList<Lotto.Models.Poll_Detail>
@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Admin.cshtml";
}
@{
    double pollCount = 0;
    var receive = "รับแล้ว";
    var checkClass = "";
    double amount = 0;
    double total_amount = 0;
    double amount_receive = 0;
    double total_receive = 0;
    double discount = 0;
    double total_discount = 0;
    double reject_amount = 0;
    double win = 0;
    double totalwin = 0;
    var Status = "";
}
<style>
    .modal {
        overflow-y: auto;
    }
</style>
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <i class="mr-2 fa fa-files-o"></i>
                <strong class="card-title">ดูโพยทั้งหมด</strong>
            </div>
            <div class="card-body">
                <table id="bootstrap-data-table" class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>สมาชิก</th>
                            <th>โพยใบที่</th>
                            <th>ชื่อโพย</th>
                            <th>หมายเลขโพย</th>
                            <th>สถานะ</th>
                            <th>ยอดแทง</th>
                            <th>ยอดรับ</th>
                            <th>ยอดหัก%</th>
                            <th>ยอดถูก</th>
                            <th>วันที่ส่ง</th>
                            <th>IP Address</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {

                            if(item.Status=="1")
                            {
                                Status = "hidden";
                            }
                            pollCount += 1;
                            if (item.Receive == "1")
                            {
                                if(item.Check_Status=="1")
                                {
                                    receive = "ตรวจแล้ว";
                                    checkClass = "background-color:rgba(0,255,127,0.5);";
                                }
                                else{
                                    receive = "รับแล้ว";
                                    checkClass = "";
                                }

                                if (item.Amount != "")
                                {
                                    amount = Double.Parse(item.Amount);
                                    amount_receive = Double.Parse(item.Amount);
                                    win= Double.Parse(item.Win);
                                }
                                else
                                {
                                    amount = 0;
                                    amount_receive = 0;
                                    win = 0;
                                }
                                if (item.Discount != "")
                                {
                                    discount = Double.Parse(item.Discount);
                                }
                                else
                                {
                                    discount = 0;
                                }
                                total_amount += amount;
                                total_receive += amount_receive;
                                total_discount += discount;
                                totalwin = totalwin + win;
                            }
                            else
                            {
                                receive = "คืนทั้งใบ";
                                if (item.Amount != "")
                                {
                                    amount = Double.Parse(item.Amount);
                                    win = 0;
                                }
                                else
                                {
                                    amount = 0;
                                    win = 0;
                                }
                                total_amount += amount;
                                amount_receive = 0;
                                total_receive += amount_receive;
                                reject_amount += amount;
                                discount = 0;
                            }
                            <tr style="@checkClass">
                                <td >@item.name</td>
                                <td>@item.poll_number</td>
                                <td>@item.Poll_Name</td>
                                <td>@item.ID</td>
                                <td>@receive</td>
                                <td>@String.Format("{0:n}", amount)</td>
                                <td>@String.Format("{0:n}", amount_receive)</td>
                                <td>@String.Format("{0:n}", discount)</td>
                                <td>@String.Format("{0:n}", win )</td>@*-------------------------- ตรวจเลขถูก  -----------------------------*@
                                <td>@String.Format("{0:dd/MM/yyyy HH:mm:ss}", item.create_date)</td>
                                <td>@item.IP</td>
                                <td><button type="button" class="btn btn-sm btn-primary showPoll" data-uid="@item.UID" data-pollNumber="@item.poll_number" data-pollName="@item.Poll_Name" data-cBy="@item.Create_By" data-cDate="@item.create_date" data-toggle="modal" data-discount="@discount" data-areceiv="@amount_receive" data-amount="@amount" data-receive="@receive" data-check="@item.Check_Status" data-pCount="@pollCount" data-id="@item.ID" data-target="#checkModal"  data-backdrop="static" data-keyboard="false" data-type="0">ดูโพย</button></td>
                            </tr>
                        }
                    </tbody>
                    <tfoot>
                        <tr>
                            <th>รวม</th>
                            <th></th>
                            @*<th>@pollCount ใบ</th>*@
                            <th></th>
                            <th></th>
                            <th></th>
                            <th>@String.Format("{0:n}", total_amount)</th>
                            <th>@String.Format("{0:n}", total_receive)</th>
                            <th>@String.Format("{0:n}", total_discount)</th>
                            <th>@String.Format("{0:n}", totalwin)</th>@*-------------------------- ตรวจเลขถูก  -----------------------------*@
                            <th></th>
                            <th>สรุป</th>
                            <th>@String.Format("{0:n}", (total_discount - totalwin))</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="checkModal" tabindex="-1" role="dialog" aria-labelledby="checkModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document" style="max-width:90%;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close x-modal" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <h3>สรุปโพย</h3>
                    </div>
                    <div class="col-md-6 right" id="edit_reject">
                        <button type="button" class="btn btn-sm btn-success" id="checkedPoll">ตรวจแล้ว</button>
                        <button type="button" class="btn btn-sm btn-info imgPoll">ดูรูปโพย</button>
                        <button type="button" class="btn btn-sm btn-warning @Status" id="editPoll">แก้ไข</button>
                        <button type="button" class="btn btn-sm btn-danger @Status" id="reject">คืนทั้งใบ</button>
                        <button type="button" class="btn btn-sm btn-default" id="printPoll">พิมพ์</button>

                    </div>
                    <div class="col-md-12">
                        <div id="printPollArea">
                            <hr />
                            <div class="col-md-12">
                                <form action="#" method="post" enctype="multipart/form-data" class="form-horizontal">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="row form-group">
                                                <div class="col col-md-5"><label for="text-input" class="form-control-label">ชื่อโพย</label></div>
                                                <div class="col col-md-7"><input type="text" id="poll_name" name="text-input" class="form-control form-control-sm" value="" placeholder="ชื่อโพย" disabled></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="row form-group">
                                                <div class="col col-md-5"><label class="form-control-label">โพยใบที่</label></div>
                                                <div class="col-12 col-md-7"><div id="poll_number" class="form-control-label bold"></div></div>
                                            </div>
                                            <div class="row form-group">
                                                <div class="col col-md-5"><label class="form-control-label">สถานะ</label></div>
                                                <div class="col-12 col-md-7"><div id="receive_status" class="form-control-label bold"></div></div>
                                            </div>
                                            <div class="row form-group">
                                                <div class="col col-md-5"><label class="form-control-label">ยอดแทงใบนี้</label></div>
                                                <div class="col-12 col-md-7"><div id="amount" class="form-control-label bold"></div></div>
                                            </div>
                                            <div class="row form-group">
                                                <div class="col col-md-5"><label class="form-control-label">ยอดรับใบนี้</label></div>
                                                <div class="col-12 col-md-7"><div id="receive" class="form-control-label bold"></div></div>
                                            </div>
                                            <div class="row form-group">
                                                <div class="col col-md-5"><label class="form-control-label">ยอดหัก%ใบนี้</label></div>
                                                <div class="col-12 col-md-7"><div id="discount" class="form-control-label bold"></div></div>
                                            </div>
                                            <div class="row form-group">
                                                <div class="col col-md-5"><label class="form-control-label">วันที่แทง</label></div>
                                                <div class="col-12 col-md-7"><div id="poll_date" class="form-control-label bold"></div></div>
                                            </div>
                                            <div class="row form-group">
                                                <div class="col col-md-5"><label class="form-control-label">แทงโดย</label></div>
                                                <div class="col-12 col-md-7"><div id="poll_by" class="form-control-label bold"></div></div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="row form-group">
                                                <div class="col col-md-5"><label class="form-control-label">วันที่รับ</label></div>
                                                <div class="col-12 col-md-7"><div id="receive_date" class="form-control-label bold"></div></div>
                                            </div>

                                            <div class="row form-group">
                                                <div class="col col-md-5"><label class="form-control-label">โพยหมายเลข</label></div>
                                                <div class="col-12 col-md-7"><div id="poll_id" class="form-control-label bold"></div></div>
                                            </div>
                                            <div class="row form-group">
                                                <div class="col col-md-5"><label class="form-control-label">จำนวนโพย</label></div>
                                                <div class="col-12 col-md-7"><div id="total_poll" class="form-control-label bold"></div></div>
                                            </div>
                                            <div class="row form-group">
                                                <div class="col col-md-5"><label class="form-control-label">รับแล้ว</label></div>
                                                <div class="col-12 col-md-7"><div id="receive_poll" class="form-control-label bold"></div></div>
                                            </div>
                                            <div class="row form-group">
                                                <div class="col col-md-5"><label class="form-control-label">ยอดคืนงวดนี้</label></div>
                                                <div class="col-12 col-md-7"><div id="r_amount" class="form-control-label bold"></div></div>
                                            </div>
                                            <div class="row form-group">
                                                <div class="col col-md-5"><label class="form-control-label">ยอดรับงวดนี้</label></div>
                                                <div class="col-12 col-md-7"><div id="receive_amount" class="form-control-label bold"></div></div>
                                            </div>
                                            <div class="row form-group">
                                                <div class="col col-md-5"><label class="form-control-label">ยอดหัก%งวดนี้</label></div>
                                                <div class="col-12 col-md-7"><div id="t_discount" class="form-control-label bold"></div></div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <hr />
                            <div class="col-md-12">
                                <div class="row" id="poll">

                                </div>
                            </div>
                        </div>
                        <div id="action-area" class="col-md-12 right hidden">
                            <button type="button" class="btn btn-sm btn-success x-modal" id="sendPoll" data-dismiss="modal">ยืนยันการแก้ไข</button>
                            <button type="button" class="btn btn-sm btn-danger x-modal" data-dismiss="modal">ยกเลิก</button>
                        </div>
                    </div>
                </div>
            </div>
            @*<div class="modal-footer">
                    <button type="button" class="btn btn-primary">ตรวจ</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">ยกเลิก</button>
                </div>*@
        </div>
    </div>
</div>
<script type="text/javascript">
    var editable = true;
</script>
<script src="~/Assets/js/admin_list.js"></script>
<script src="~/Assets/js/admin_list_edit.js"></script>
<script src="~/Assets/js/sweetalert2.all.min.js"></script>
<script>
    getPoll = '@Url.Action("getPoll", "User")';
    getPollHeadDetail = '@Url.Action("getPoll", "Admin")';
    addPoll = '@Url.Action("AddPoll", "Admin")';
    getImg = '@Url.Action("getImage", "User")';

    RejectPoll = '@Url.Action("RejectPoll", "Admin")';
    ConfirmCheckPoll = '@Url.Action("ConfirmCheckPoll", "Admin")';
    var rowPoll = 0;
    (function ($) {
        initialPoll();
        $('#bootstrap-data-table').DataTable({
            lengthMenu: [[10, 20, 50, -1], [10, 20, 50, "All"]],
            fixedHeader: {
                footer: true
            },
            "footerCallback": function (row, data, start, end, display) {
                var api = this.api(), data;

                // Remove the formatting to get integer data for summation
                var intVal = function (i) {
                    return typeof i === 'string' ?
                        i.replace(/[\$,]/g, '') * 1 :
                        typeof i === 'number' ?
                            i : 0;
                };
                var sumCol4Filtered = display.map(el => data[el][5]).reduce((a, b) => intVal(a) + intVal(b), 0);

                // Update footer
                $(api.column(5).footer()).html(
                    nwc(sumCol4Filtered)
                );

                var sumCol4Filtered = display.map(el => data[el][6]).reduce((a, b) => intVal(a) + intVal(b), 0);

                // Update footer
                $(api.column(6).footer()).html(
                    nwc(sumCol4Filtered)
                );

                var sumCol4Filtered7 = display.map(el => data[el][7]).reduce((a, b) => intVal(a) + intVal(b), 0);

                // Update footer
                $(api.column(7).footer()).html(
                    nwc(sumCol4Filtered7)
                );
                var sumCol4Filtered8 = display.map(el => data[el][8]).reduce((a, b) => intVal(a) + intVal(b), 0);

                // Update footer
                $(api.column(8).footer()).html(
                    nwc(sumCol4Filtered8)
                );
                $(api.column(11).footer()).html(
                    nwc(sumCol4Filtered7-sumCol4Filtered8)
                );
            }
        });

        $('#printPoll').click(function () {

            var printContents = document.getElementById('printPollArea');

            var newWin = window.open('','Print-Window');

            newWin.document.open();

            newWin.document.write('<html><head><link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css"><style>.bet-no{float: left;width: 10%;padding: 2px;padding-top: 10px}.bet-type{float: left;width: 20%;padding: 2px;text-align: center}.bt{float: left;width: 20%;padding: 2px;text-align: center}.bet-lotto{float: left;width: 20%;padding: 2px}.bet-equal{float: left;width: 5%;padding: 2px;padding-top: 10px}.bet-price{float: left;width: 40%;padding: 2px}</style></head><body onload="window.print()">'+printContents.innerHTML+'</body></html>');

            newWin.document.close();

            setTimeout(function(){newWin.close();},10);
        });

        $('#editPoll').click(function () {
            var i = 1;
            $(".showPoll").data('type', 1);
            $("#poll_name").prop( "disabled", false );
            $(".bet-cell").each(function(){
                $(this).find('input').prop( "disabled", false );
                if (i % 2 == 0){
                    $(this).find('.input-lotto').addClass('input-color-even');
                    $(this).find('.input-price').addClass('input-color-even');
                }
                else{
                    $(this).find('.input-lotto').addClass('input-color-ood');
                    $(this).find('.input-price').addClass('input-color-ood');
                }
                i++;
            });
            $("#action-area").removeClass('hidden');
        });

        $('.x-modal').click(function () {
            $(".showPoll").data('type', 0);
            $("#action-area").addClass('hidden');
            $("#poll_name").val("");
            $("#poll_name").prop( "disabled", true );
        });

    })(jQuery);
    $(document).ready(function () {
        var table = $('#bootstrap-data-table').DataTable();
        console.log(JSON.stringify(table.page.info()));

    });
</script>

